{% assign type = include.type %}

{% if type == 1 %}

	<p class="sponsor-header"><a href="#"><img src="/assets/img/content/sponsor-extreme-tv.png" alt=""></a></p>

	{% comment %}
	<!-- ADBLOCK LEADERBOARD -->
	<!-- <div id='boxes-box-swellnet_adblock_leaderboard' class='boxes-box header-sponsor'>
	    <div class="boxes-box-content">
	        <span class="mcnamf" title="728x90"></span>
	    </div>
	</div> -->
	<!-- IFRAME ADVERT TEST -->
	<!-- <iframe class="iframe-advert" src="/advert-01/"></iframe> -->
	{% endcomment %}

{% elsif type == 2 %}

	<p class="mt-5"><a href="#"><img width="100%" src="/assets/img/content/sponsor-perfect-wave.png" alt=""></a></p>

	{% comment %}
	<!-- BOXES BOX AD BLOCK -->
	<div id='boxes-box-mcn_surfcam_ad_block' class='boxes-box'><div class="boxes-box-content">

	    <!-- SCRIPT -->
	    <script type='text/javascript' src='http://www.googletagservices.com/tag/js/gpt.js'>
	        googletag.pubads().definePassback('/8349402/Surfcam-companion', [[630, 354]]). display();
	    </script>

	    </div>
	</div>
	<div class="panel-separator"></div>
	{% endcomment %}

{% elsif type == 3 %}

	<p><a href="#"><img width="100%" src="/assets/img/content/sponsor-extreme-tv.png" alt=""></a></p>

	    {% comment %}
		<div class="panel-pane pane-block pane-boxes-swellnet-adblock-mrec block-boxes-simple">
		    <div class="pane-content">
		        <div id='boxes-box-swellnet_adblock_mrec' class='boxes-box'>
		            <div class="boxes-box-content">
		                <span class="mcnamf" title="300x250"></span>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="panel-separator"></div>

		<div class="panel-pane pane-block pane-boxes-swellnet-adblock-halfisland block-boxes-simple">
		    <div class="pane-content">
		        <div id='boxes-box-swellnet_adblock_halfisland' class='boxes-box'>
		            <div class="boxes-box-content">
		                <span class="mcnamf" title="300x125"></span>
		            </div>
		        </div>
		    </div>
		</div>
	    {% endcomment %}

{% elsif type == 4 %}

	<p class="px-md-4"><a href="#"><img width="100%" src="/assets/img/content/sponsor-chicken-clubhouse.png" alt=""></a></p>

{% elsif type == 5 %}

	<p class="px-md-4"><a href="#"><img width="100%" src="/assets/img/content/sponsor-qantas-points.png" alt=""></a></p>

{% endif %}