{% comment %}
<!--
    NAV.HTML - NESTED DROPDOWN CHILDREN RENDERED VIA JAVASCRIPT

    - updated: 23.11.18

    OUTPUT EG:

        <ul>
            <li class="active"><a href="/">LINK</a></li>
            <li><a href="#"><span class="text">LINK</span></a></li>
            <li class="has-dropdown">
                <a href="#">
                    <span class="text">LINK</span>
                    <span class="submenu-arrow"><i class="fa fa-angle-right"></i></span>
                </a>
                <ul class="dropdown" data-parent="LINK">
                    <li><a href="#"><span class="text">LINK</span></a></li>
                </ul>
            </li>
        </ul>
-->
{% endcomment %}

{% assign data = include.data | default: site.data.sitemap %}

{% capture ul_classes %}
    {% if forloop %} dropdown {% endif %}
    {% if item.children_excluded_from_nav %} has-children-excluded-from-nav {% endif %}
{% endcapture %}

<ul class="{{ ul_classes }}" data-parent="{{ item.name }}">
    {% for item in data %}

        {% capture li_classes %}
            {% if item.url == "/" and page.url == "/" %} active {% endif %}
            {% if page.url contains item.url and page.url != "/" %} active {% endif %}
            {% if item.children %} has-dropdown {% endif %}
            {% if item.classes %}{{ item.classes }}{% endif %}
            {% if item.observed %} is-observed {% endif %}
            {% if item.premium %} is-premium {% endif %}
        {% endcapture %}

        <li class="{{ li_classes }}">

            <!-- ANCHOR -->
            <a href="{{ item.url }}" data-alias="{{ item.alias }}">

                <!-- TEXT -->
                <span class="text">{{ item.name }}</span>

                <!-- SUBMENU ARROW -->
                {% if item.children %}
                    <span class="submenu-arrow"><i class="fa fa-angle-right"></i></span>
                {% endif %}

                <!-- ICON -->
                {% if item.observed %}
                    <img class="obs-icon" title="Observed surf report" src="/assets/img/ui/obs-icon.svg" data-toggle="tooltip" alt="Observed">{% endif %}
                {% if item.premium %}
                    <img class="premium-icon" title="Premium surfcam for subscribers" src="/assets/img/ui/premium-icon.svg" data-toggle="tooltip" alt="Premium">
                {% endif %}

            </a>

            <!-- DROPDOWN -->
            {% if item.children %}
                <ul class="dropdown" data-parent="{{ item.name }}" data-render-nav-children="{{ forloop.index | minus: 1 }}"></ul>
            {% endif %}

        </li>
    {% endfor %}
</ul>