<ul data-parent="">
  <li class="is-off-canvas-only">
    <!-- ANCHOR -->
    <a href="https://www.swellnet.com" data-alias="">
      <!-- TEXT -->
      <span class="text">Home</span>
    </a>
  </li>
  <li class="has-dropdown is-mega is-reports-mega-menu">
    <!-- ANCHOR -->
    <a href="https://www.swellnet.com/reports/" data-alias="">
      <!-- TEXT -->
      <span class="text">Surf Reports & Forecasts</span>

      <!-- SUBMENU ARROW -->
      <span class="submenu-arrow">
        <i class="fa fa-angle-right"></i>
      </span>
    </a>

    <!-- DROPDOWN -->
    <ul class="dropdown" data-parent="Surf Reports & Forecasts" data-render-nav-children="1"></ul>
  </li>
  <li class="has-dropdown is-mega is-surfcams-mega-menuX is-reports-mega-menu">
    <!-- ANCHOR -->
    <a href="https://www.swellnet.com/surfcams/" data-alias="">
      <!-- TEXT -->
      <span class="text">Surfcams</span>

      <!-- SUBMENU ARROW -->
      <span class="submenu-arrow">
        <i class="fa fa-angle-right"></i>
      </span>
    </a>

    <!-- DROPDOWN -->
    <ul class="dropdown" data-parent="Surfcams" data-render-nav-children="2"></ul>
  </li>
  <li>
    <!-- ANCHOR -->
    <a href="https://www.swellnet.com/multi-cam/" data-alias="">
      <!-- TEXT -->
      <span class="text">Multi-cam</span>
    </a>
  </li>
  <li>
    <!-- ANCHOR -->
    <a href="https://www.swellnet.com/app/" data-alias="">
      <!-- TEXT -->
      <span class="text">App</span>
    </a>
  </li>
  <li class="active">
    <!-- ANCHOR -->
    <a href="https://shop.swellnet.com" data-alias="">
      <!-- TEXT -->
      <span class="text">Shop</span>
    </a>
  </li>
  <li
    class="
       has-dropdown
      is-concealed-menu is-more-group
    "
  >
    <!-- ANCHOR -->
    <a href="#/more/" data-alias="">
      <!-- TEXT -->
      <span class="text">More</span>

      <!-- SUBMENU ARROW -->
      <span class="submenu-arrow"><i class="fa fa-angle-right"></i></span>
    </a>

    <!-- DROPDOWN -->
    <ul class="dropdown" data-parent="More" data-render-nav-children="6"></ul>
  </li>
</ul>
