<!-- FOOTER BODY -->
<section class="global-footer-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mb-3 mb-lg-0">
        <div class="row">
          <div class="col-6 col-md-4 hidden-sm-down">
            <!-- QUICK LINKS -->
            <h4 class="mb-3">Quick Links</h4>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.swellnet.com">Home</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/reports/">Surf Reports & Forecasts</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/surfcams/">Surfcams</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/multi-cam/">Multi-cam</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/app/">Swellnet App</a>
              </li>
              <li>
                <a href="https://shop.swellnet.com">Shop</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/news/">News</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/forum/">Forum</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <!-- ABOUT -->
            <h4 class="mb-3">About</h4>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.swellnet.com/privacy/">Privacy Policy</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/terms/">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/contact/">Contact Us</a>
              </li>
              <li>
                <a href="https://www.swellnet.com/about/">About Swellnet</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4 is-user-column">
            <!-- extra -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3 mb-lg-0 text-md-right">
        <!-- LOGO -->
        <p>
          <img class="logo" src="https://swellnet.com/assets/img/content/swellnet-logo--light.svg" alt="Swellnet">
        </p>

        <!-- SOCIAL MEDIA -->
        <div class="social-media">
          <a title="Facebook" href="https://www.facebook.com/swellnet/" target="_blank" class="facebook">
            <div class="icon">
              <i class="fa fa-facebook"></i>
            </div>
          </a>
          <a title="Instagram" href="https://www.instagram.com/swellnet/" target="_blank" class="instagram">
            <div class="icon">
              <i class="fa fa-instagram"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
  <div class="container">
    <!-- BACK TO TOP -->
    <div class="text-center text-md-right">
      <button onclick="window.scrollTo({top: 0, behavior: 'smooth'})" class="btn-back-top">
        <div>
          <i class="d-block fa fa-angle-up"></i>
          <span class="text">TOP</span>
        </div>
      </button>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-6 text-center text-md-left">
        <!-- COPYRIGHT + SITEMAP -->
        <small class="mr-2 d-block d-md-inline"
          >&copy;
          <date>
            <script>
              document.write(new Date().getFullYear());
            </script>
          </date>
          - Swellnet. All rights reserved.</small
        >
      </div>
    </div>
  </div>
</section>
