{% assign id = include.id %}
{% assign bg_image = include.bg_image %}
{% assign options = include.options %}
{% assign content_block = include.content_block %}

<!-- SECTION SPLIT -->
<section id="{{ id }}" class="section {{ options }}" style="background-image: url({{ bg_image }})">

	{% include components/hero/hero__parallax_plugin.html image=bg_image %}

	<div class="container">
		<div class="row align-items-center">

			<!-- COMPONENT -->
			<div class="col-md-6 col-lg-5 offset-lg-1">
				{{ content_block }}
			</div>

			<!-- CONTENT -->
			<div class="col-md-6 col-lg-5 offset-lg-1">

				<h2>Lorem Ipsum Dolor Sit Amet</h2>

				<!-- WYSIWYG #1 -->
				<div class="row">
					<div class="col-md-11 col-lg-10">
						<div class="wysiwyg mb-4">
							<p>Lorem ipsum dolor sit amet, <a href="#">This is a link</a> consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in. <a href="#">This is a link</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>