{% assign id = include.id %}
{% assign bg_image = include.bg_image %}
{% assign parallax_enabled = include.parallax_enabled | default: true %}
{% assign options = include.options %}
{% assign content_block = include.content_block %}

<!-- SECTION STANDARD -->
<section id="{{ id }}" class="section {{ options }}" style="background-image: url({{ bg_image }})">

	{% include components/hero/hero__parallax_plugin.html image=bg_image %}

	<!-- CONTAINER -->
	<div class="container">
		<h2>Lorem Ipsum Dolor Sit Amet</h2>

		<!-- WYSIWYG #1 -->
		<div class="row">
			<div class="col-md-11 col-lg-10">
				<div class="wysiwyg mb-4">
					<p>Lorem ipsum dolor sit amet, <a href="#">This is a link</a> consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in. <a href="#">This is a link</a></p>
				</div>
			</div>
		</div>

		{{ content_block }}

		<!-- WYSIWYG #2 -->
		<div class="row">
			<div class="col-md-8">
				<div class="wysiwyg mb-4">
					<small><sup>2</sup> Yael Zarhy-Levo, The theatrical critic as cultural agent: constructing Pinter, Orton and Stoppard as absurdist playwrights (New York: Peter Lang, 2001).</small>
				</div>
			</div>
		</div>

	</div>
</section>