/*
    GLOBAL.CSS

    - updated: 19.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// HTML
//-----------------------------------------------------------------

html {
	overflow-x: hidden; // [LOCKED] - fixes Firefox with beneath mega menu
}

//-----------------------------------------------------------------
// GRID CONTAINER (GENERAL)
//-----------------------------------------------------------------

.container {
	@include media-breakpoint-up(sm) {
	    padding: 0 $container-gutter/1.5; // [LOCKED] - iPhone6 up has slight gutter
	}

	@include media-breakpoint-up(md) {
	    padding: 0 $container-gutter; // [LOCKED]
	}

	@include media-breakpoint-up(xl) {
	    padding: 0 $container-gutter * 1.5; // [LOCKED]
	}
}

//-----------------------------------------------------------------
// MAIN BODY - SIDEBAR LAYOUT
//-----------------------------------------------------------------

// .main-body {
// 	@include media-breakpoint-down(md) {
// 		> .container {
// 		    max-width: none;
// 		    padding: 0;

// 			> .row,
// 			> .row > [class*=col] {
// 		    	margin: 0;
// 		    	padding: 0;
// 		    }
// 		}
// 	}

// 	.sidebar .container {
// 		@include media-breakpoint-up(lg) {
// 		    padding: 0;
// 		}
// 	}
// }

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

html, body {
	background: grey;
}

//=========================================
//
//=========================================