{% assign is_flat = include.flat | default: false %}

{% capture header_class %}
	{% if columns == 4 %}
		h5
	{% else %}
		h4
	{% endif %}
{% endcapture %}

{% capture card_options %}
	{% if is_flat %}
		is-flat
	{% endif %}
{% endcapture %}

<!-- CARD -->
<div class="card h-100 {{ card_options }}">

	<!-- IMAGE -->
	<a class="btn-tile" href="{{ item.url }}">
		<img width="100%" class="card-img-top" src="/assets/img/layout/card-sizer--570x1000.svg" alt="{{ item.title }}">
		<span class="btn-tile-bg" style="background-image: url({{ item.image }})"></span>
	</a>

	<!-- CARD BODY -->
	<div class="card-body d-flex flex-column">

		<!-- TAGS / CATEGORIES -->
		{% if item.categories %}
			<small class="d-block text-uppercase mb-2">
				<i class="fa fa-tags text-muted">&nbsp;</i>
				{% for item in item.categories %}
					<a href="#">{{ item.title }}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</small>
		{% endif %}

		<!-- TITLE -->
		<a class="text-dark" href="{{ item.url }}">
			<h3 class="card-title {{ header_class }}">{{ item.title }}</h3>
		</a>

		<!-- TEXT -->
		<div class="card-text">
			<div class="wysiwyg mb-4">
				{{ item.body | truncate: 150 }}
			</div>
		</div>

		<!-- CARD FOOTER -->
		<div>
			{% if item.date and item.author %}

				<!-- DATE + AUTHOR -->
				<small>
					<time class="text-muted mr-1" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date }}</time> <a target="_blank" href="{{ item.author.url }}">{{ item.author.name }} <i class="fa fa-external-link"></i></a>
				</small>

			{% else %}

				<!-- BUTTON -->
				<p><a href="{{ item.url }}" class="btn btn-primary">Read more</a></p>

			{% endif %}
		</div>
	</div>
</div>