/*
    FOOTER.CSS

    - Last updated: 11.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	color: white;

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}

	a {
		color: white; // [THEMEABLE]

		&:hover {
			opacity: 0.85;
		}
	}

	.list-unstyled li {
		margin-bottom: rem-calc(10);
		line-height: 1;
	}

	.logo {
		width: 100%;
		max-width: 100px;

		@include media-breakpoint-up(md) {
		    max-width: rem-calc(216);
		}
	}

	.is-user-column {
		display: none;
	}
}

//-----------------------------------------------------------------
// FOOTER BODY
//-----------------------------------------------------------------

.global-footer-body,
.global-footer-sitemap {
	background: $primary; // [THEMEABLE]

	> .container { // [LOCKED] - consistent with sitemap
		padding-top: $spacer*2.5;
		padding-bottom: $spacer;

		@include media-breakpoint-up(md) {
		    padding-top: $spacer*2.5;
		    padding-bottom: $spacer*2.5;
		}
	}

	.error {
		color: lighten($red, 35%);
	}

	.btn { // form button
		border: 0; // test?
		background: rgba(black, 0.2); // [THEMEABLE]
		color: white; // [THEMEABLE]

		&:hover {
			background: rgba(black, 0.3); // same as scrolltop
		}
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	padding: $spacer/2 0;
	background: $primary; // [THEMEABLE]
	font-size: rem-calc(15);

	a {
		display: inline-flex;
		align-items: center;

		.fa-angle-up,
		.fa-angle-down {
			font-size: rem-calc(20);
			transition: transform 400ms ease;

			&.is-active { // arrow on sitemap
				transform: rotate(180deg);
			}
		}
	}

	.author-logo {
		display: inline-block; // [LOCKED] - aligns icon
	}

	//=========================================
	// BLEED TO BOTTOM [LOCKED]
	//=========================================

	&:after {
		content: "";
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		z-index: -1;
	}
}

//-----------------------------------------------------------------
// FOOTER SITEMAP (OPTIONAL)
//-----------------------------------------------------------------

.global-footer-sitemap {
	background: darken($primary, 4%); // [THEMEABLE]
}

//=========================================
//
//=========================================