/*
    HEADER.CSS

    - Last updated: 02.10.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

// $header-top-sm-height: 46px !default;
// $header-top-md-height: 46px !default;
// $header-top-lg-height: 46px !default;

$header-body-sm-height: 57px !default;
$header-body-md-height: 74px !default;
// $header-body-lg-height: 100px !default;

// $header-bottom-sm-height: 50px !default;
// $header-bottom-md-height: 50px !default;
$header-bottom-lg-height: 47px !default; // 50

//-----------------------------------------------------------------
// PUSH PAGE DOWN TO ACCOMODATE FIXED HEADER
//-----------------------------------------------------------------

.lv-page {
	transition: margin ease 250ms;
	will-change: margin;
}

// // push NAV down
.has-open-menu .headroom--top.lv-page {
	@include media-breakpoint-up(xl) {
	    margin-top: $header-bottom-lg-height; // to accomodate the bottom strip
	}
}

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------
//****************************************************
// PINNED - SCROLLING UP
//****************************************************

.headroom--pinned:not(.headroom--disabled) .global-header {
	transform: translateY(0%);
	margin-bottom: rem-calc(40); // only applies when NOT fixed
}

//****************************************************
// UNPINNED - SCROLLING DOWN
//****************************************************

.headroom--unpinned.headroom--not-top:not(.headroom--disabled) .global-header {
   	// transform: translateY(-100%);
   	// opacity: 0;
    // transition-delay: 600ms; // delay for UX

    @include media-breakpoint-down(lg) {
    //     transform: translateY(-100%);
    	opacity: 0;
    }
}

// override if hovering menu
.headroom--unpinned.headroom--not-top .global-header:hover {
   	transform: translateY(0);
   	opacity: 1;
}

//****************************************************
// HEADROOM NOT TOP
//****************************************************

.headroom--not-top:not(.headroom--disabled) .global-header {
	position: fixed;
	// box-shadow: 0 0 3px 1px rgba(black, 0.2);

	.global-header-top {
		height: 0; // [LOCKED] - for some reason height better performs display on Safari here
	}

	.global-header-body {
		// background: $primary; // [THEMABLE]
		transition: all 200ms ease;

		@include media-breakpoint-up(md) {
		    height: $header-body-md-height;
		}
	}
}

//****************************************************
// HEADROOM DISABLED (when menu exceeds available height)
//****************************************************
//-----------------------------------------------------------------
// HEADER GENERAL
//-----------------------------------------------------------------

.global-header {
	position: absolute; // fixed
	top: 0;
	width: 100%;
	will-change: transform;
	// transition: transform 200ms linear, background-color 200ms ease, padding ease 250ms;
	// transition: 150ms opacity ease;
	z-index: 110; // was 1 - overtake multicams and jeep

	// @include media-breakpoint-down(lg) {
	//     transition: transform 200ms linear, background-color 200ms ease, padding ease 250ms;
	// }

	@include media-breakpoint-up(md) {
	    position: absolute; //relative; // prev static?
	}
}

// // push NAV down
.has-open-menu .global-header {
	@include media-breakpoint-up(xl) {
	    padding-bottom: $header-bottom-lg-height; // to accomodate the bottom strip positioning
	}
}

//-----------------------------------------------------------------
// HEADER TOP
//-----------------------------------------------------------------

.global-header-top {
	// position: relative; // [LOCKED]
	// transition: max-height linear 200ms;
	overflow: hidden;
	// max-height: 170px;
	// z-index: 2; // [LOCKED] - dropdown needs to move over top of nav
}

//-----------------------------------------------------------------
// HEADER TOP -- ALERT
//-----------------------------------------------------------------

.global-header-alert {
	display: flex;
	align-items: center;
	// height: $header-top-lg-height;
	padding: rem-calc(12 0);
	background: $secondary;
	font-family: $headings-font-family;
	font-size: rem-calc(12);
	font-weight: $font-weight-semibold;
	color: white; // [LOCKED] - for dropdown override

	@include media-breakpoint-up(md) {
	    font-size: rem-calc(14);
	}

	@include media-breakpoint-up(lg) {
	    font-size: rem-calc(15);
	}

	a {
		color: white; // [THEMEABLE]

		&:hover {
			opacity: 1 !important; // override
		}
	}

	strong {
		display: inline-block; // [LOCKED] - let it fall to a new line
		font-weight: bold;
	}
}

//-----------------------------------------------------------------
// HEADER TOP -- SPONSOR
//-----------------------------------------------------------------

.global-header-sponsor {
	padding: rem-calc(17 0);
	background: #e8e8e9; // need this as var
}

//-----------------------------------------------------------------
// HOVERS
//-----------------------------------------------------------------

.global-header-top a:not(.dropdown-item):hover {
	opacity: 0.8;
}

//=========================================
// DROPDOWN
// a little brittle - copies styles from topbar
//=========================================

.global-header-top .dropdown .dropdown-menu {
	padding: 0; // [RESET]
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	.dropdown-item {
		padding: rem-calc(15 20);
		font-size: rem-calc(14); // opinionated
		font-weight: 500;
		color: #444;

		&:hover {
			background: rgba(black, 0.1);
			color: #444 !important;
		}
	}
}

//-----------------------------------------------------------------
// HEADER BODY
//-----------------------------------------------------------------

.global-header-body {
	position: relative; // safe? - added for dropdown
	display: flex;
	align-items: center;
	height: $header-body-sm-height;
	background: #f6f6f6; // [THEMABLE]
	// transition: height 100ms ease;
	z-index: 1; // [LOCKED] - safe? - added for dropdown

	@include media-breakpoint-up(md) {
	    height: $header-body-md-height;
	    // height: auto;
	    // padding: rem-calc(20 0);
	}

	// @include media-breakpoint-up(lg) {
	// 	// height: $header-body-lg-height;
	// }

	//=========================================
	// HEADER HEIGHT [LOCKED]
	//=========================================

	> .container {
		position: relative; // [LOCKED] - for hidden nav
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: 100%; // added 17.09.18

		@include media-breakpoint-down(xs) {
		    width: 100%; // fixes mobile glitch?
		}
	}
}

//-----------------------------------------------------------------
// HEADER BOTTOM
//-----------------------------------------------------------------

.global-header-bottom {
	position: relative; // [LOCKED] - positioning trick

	.global-header-bottom-strip {
		position: absolute; // [LOCKED]
		top: 0;
		left: 0;
		width: 100%;
		height: $header-bottom-lg-height;
		background: $primary;
		transform: translateY(-100%);
		transition: transform 250ms ease;
	}
}

.has-open-menu .global-header-bottom .global-header-bottom-strip {
	transform: translateY(0);
}

//-----------------------------------------------------------------
// LOGO
//-----------------------------------------------------------------

.global-header .logo {
	margin-right: auto;

	img {
		// max-height: rem-calc(54);
		width: 100px;

		@include media-breakpoint-down(sm) {
		    // padding: rem-calc(10 0);
		}

		@include media-breakpoint-up(md) {
			// max-height: rem-calc(60);
			width: rem-calc(116);
		}
	}
}

//-----------------------------------------------------------------
// MOBILE ICONS
//-----------------------------------------------------------------

.mobile-icon {
	display: flex;
	align-items: center;
	margin-left: rem-calc(20);
	cursor: pointer;
	color: $body-color;
	// background: red;
	// padding: 10px;

	.text {
		margin: rem-calc(0 8);
	}

	i {
		font-size: rem-calc(26);
	}

	&:hover {
		color: $body-color;
	}
}

//=========================================
//
//=========================================