/*
    NAV__DROPDOWN_REPORTS.CSS

    - updated: 27.09.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$countries: 11;

//-----------------------------------------------------------------
// REPORTS MEGA MENU
//-----------------------------------------------------------------

.lv-nav li.has-dropdown.is-reports-mega-menu {

    //-----------------------------------------------------------------
    // ALL DROPDOWNS
    //-----------------------------------------------------------------

    .dropdown {
        // visibility: visible; // [DEV]
    }

    //-----------------------------------------------------------------
    // DROPDOWN CONTAINER (JavaScript height calc)
    //-----------------------------------------------------------------

    > .dropdown {
        flex-direction: column;
        // height: rem-calc(562); // [NOTE] - is JS driven | auto by default
        padding: rem-calc(28 0 26 0); // [LOCKED] - accomodate header/footer strips
        padding-bottom: rem-calc(102); // [LOCKED?] - extend auto height to two beyond max 1st col items
    }

    //-----------------------------------------------------------------
    // COLUMN #1
    //-----------------------------------------------------------------

    > .dropdown > li {
        width: 25%; // [LOCKED]
        // background: pink;

        > a:hover { // [OVERRIDE] - design
            background: rgba(black, 0.02);
        }

        &.active > a {
            background: rgba(black, 0.02);
        }
    }

    //-----------------------------------------------------------------
    // SUBSEQUENT COLUMN DROPDOWNS
    //-----------------------------------------------------------------

    .dropdown .dropdown {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        // border: 2px solid blue;
    }

    //-----------------------------------------------------------------
    // RESET POSITIONING (TO MEGA MENU)
    //
    // INCREMENT OFFSET -Y on further columns
    // NOTE: nested columns create new pos context
    // with **absolute**
    //-----------------------------------------------------------------

    .dropdown .dropdown li {
        position: static; // [RESET] - subsequent columns position relative to main dropdown
    }

    // [LOCKED] - most simple way to achieve this - fixed didn't work
    @for $i from 0 to $countries {
        > .dropdown > li:nth-child(#{$i + 1}) > ul.dropdown {
            top: calc(-#{rem-calc(39)} * #{$i});
        }
    }

    //-----------------------------------------------------------------
    // ZEBRA STRIPING + COLORING
    //-----------------------------------------------------------------

    > .dropdown {
        background-color: #f9f9fa; // trick for coloring one column without affecting the others when last column is absent
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTE5MHB4IiBoZWlnaHQ9IjVweCIgdmlld0JveD0iMCAwIDExOTAgNSI+PGRlZnM+PGcgaWQ9IkxheWVyMV8wX0ZJTEwiPjxwYXRoIGZpbGw9IiNFMkUzRTQiIHN0cm9rZT0ibm9uZSIgZD0iTSAwIC0yMy4xTCAwIDQyLjYgMTE5MCA0Mi42IDExOTAgLTIzLjEgMCAtMjMuMSBaIi8+PC9nPjxnIGlkPSJMYXllcjFfMV9GSUxMIj48cGF0aCBmaWxsPSIjRjlGOUZBIiBzdHJva2U9Im5vbmUiIGQ9Ik0gMjk3LjUgLTIzLjFMIDAgLTIzLjEgMCA0Mi42IDI5Ny41IDQyLjYgMjk3LjUgLTIzLjEgWiIvPjwvZz48L2RlZnM+PGcgdHJhbnNmb3JtPSJtYXRyaXgoIDEsIDAsIDAsIDEsIDAsMCkgIj48dXNlIHhsaW5rOmhyZWY9IiNMYXllcjFfMF9GSUxMIi8+PC9nPjxnIHRyYW5zZm9ybT0ibWF0cml4KCAxLCAwLCAwLCAxLCAwLDApICI+PHVzZSB4bGluazpocmVmPSIjTGF5ZXIxXzFfRklMTCIvPjwvZz48L3N2Zz4=);
        background-repeat: repeat-y;
        background-size: contain; // [LOCKED] - best with Safari non-retina
    }

    // COLUMN #2
    > .dropdown .dropdown {
        background-color: #f3f4f5; // [LOCKED] - design
    }

    // COLUMN #3
    > .dropdown .dropdown .dropdown {
        background-color: #eaebec; // [LOCKED] - design
    }

    // COLUMN #4 (SOMETIMES ABSENT)
    > .dropdown .dropdown .dropdown .dropdown {
        background-color: #e2e3e4; // darker // was #f3f4f5;
    }

    //-----------------------------------------------------------------
    // STRIPE ALL THE WAY DOWN (GREAT HACK)
    //-----------------------------------------------------------------

    > .dropdown .dropdown {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            background: inherit;
            z-index: -2; // [LOCKED] - clever
        }
    }

    //=========================================
    // SECOND LAST ROW - RIGHT BORDER
    // visual trickery to create border on end last
    // due to z-index - will only show when last col is absent
    //=========================================

    > .dropdown > li > ul.dropdown > li > ul.dropdown {
        &:before {
            box-sizing: content-box; // [LOCKED] - boom
            right: -1px;
            border-right: 1px solid rgba(black, 0.05);
        }
    }

    //-----------------------------------------------------------------
    // ANCHOR ARROWS
    //-----------------------------------------------------------------

    li.has-dropdown > a:after {
        content: "\f105";
        display: inline-block;
        height: 100%;
        margin-left: auto;
        margin-right: rem-calc(-10);
        font-family: "FontAwesome";
        font-size: rem-calc(25);
        font-weight: normal;
        color: rgba(black, 0.15);
    }

    //-----------------------------------------------------------------
    // HEADER + FOOTER STRIPS
    //-----------------------------------------------------------------

    > .dropdown:before,
    > .dropdown:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem-calc(28);
        border-bottom: 1px solid rgba(black, 0.06);
        background: white;
        z-index: 1;
        // display: none;
    }

    // FOOTER
    > .dropdown:after {
        top: auto;
        bottom: 0;
        border-bottom: 0;
        border-top: 1px solid rgba(black, 0.06);
    }

    //-----------------------------------------------------------------
    // SHOW ON ACTIVE
    //-----------------------------------------------------------------

    > .dropdown .dropdown {
        display: none;
    }

    > .dropdown li.has-dropdown.active > .dropdown {
        display: block;
    }

    //-----------------------------------------------------------------
    // SHOW ON HOVER
    //-----------------------------------------------------------------

    // > .dropdown li:nth-child(2) > .dropdown {
    // > .dropdown li:hover > .dropdown {
    //     display: block;
    // }

    // > .dropdown .active.dropdown {
    //     display: block;
    // }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================