/*
    NAV.CSS

    - updated: 08.10.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GLOBAL WRAPPER
//-----------------------------------------------------------------

.global-navigation {
    height: 100%; // [LOCKED] - for hovers
    margin-right: rem-calc(20); // [LOCKED] - perfecto
    // position: relative; // [NO]
}

//-----------------------------------------------------------------
// LV NAV
//-----------------------------------------------------------------

.lv-nav {
    height: 100%; // [LOCKED]
}

//-----------------------------------------------------------------
// GENERAL UL
//-----------------------------------------------------------------

.lv-nav ul {
    padding: 0; // [RESET]
    margin: 0;  // [RESET]
    list-style: none; // [RESET]
}

//=========================================
// TOP PARENT UL
//=========================================

.lv-nav > ul {
    display: flex; // [LOCKED] - replace float
    height: 100%; // [LOCKED]

    > li {
        position: relative; // [LOCKED] - dropdowns relative to list parent
    }
}

//-----------------------------------------------------------------
// ALL ANCHORS (INCL. DROPDOWN CHILDREN)
//-----------------------------------------------------------------

.lv-nav a {
    display: block; // [LOCKED]
    text-decoration: none; // [LOCKED]
    font-family: $headings-font-family; // [LOCKED] - design
    font-size: rem-calc(16); // [LOCKED] - design
    font-weight: 700; //$font-weight-semibold; // [LOCKED]
    color: $gray-900; //$body-color;
}

//-----------------------------------------------------------------
// TOP PARENT ANCHORS (FIRST VISIBLE)
//-----------------------------------------------------------------

.lv-nav > ul > li > a {
    display: flex; // [LOCKED]
    align-items: center; // [LOCKED]
    height: 100%; // [LOCKED]
    padding: rem-calc(0 18); // design
    transition: background-color 150ms ease;
}

//-----------------------------------------------------------------
// SUBMENU ARROWS
//-----------------------------------------------------------------

.lv-nav a > span.submenu-arrow {
    display: none;
}

.lv-nav > ul > li > a > span.submenu-arrow {
    display: inline-block;
    pointer-events: none; // [LOCKED] - allow click through

    i:before {
        position: relative;
        top: 1px;
        content: "\f107";
        margin-left: rem-calc(5);
        font-size: rem-calc(19);
        font-weight: 700;
        color: rgba(black, 0.14);
    }
}

.lv-nav > ul > li.is-open > a > span.submenu-arrow i:before {
    content: "\f106";
}

//-----------------------------------------------------------------
// HOVERS
//-----------------------------------------------------------------

.lv-nav > ul > li > a:hover {
    background: rgba(black, 0.03); // white

    // .text {
        // border-bottom: 0;
        // border-color: transparent;
    // }
}

//=========================================
// ACTIVE
//=========================================

.lv-nav > ul > li.active > a {
    background: rgba(black, 0.03); // white
}

//=========================================
// ACTIVE MEGA (OVERRIDES)
//=========================================

.lv-nav > ul > li.is-open > a {
    background: white;
    transition: none;
}

//=========================================
//
//=========================================