/*
    FORMS.CSS

    - updated: 04.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form,
form[data-toggle="validator"] {
	.error {
		display: block;
		// padding: rem-calc(5 10 4 10);
		padding: rem-calc(10 10 10 0);
		// background: $red;
		font-weight: $font-weight-semibold;
		color: $red;
	}

	.has-error > .error {
		// display: block;
		// margin-bottom: $form-group-margin-bottom;
	}

	// .has-error > .form-control {
	// 	border-bottom-left-radius: 0;
	// 	border-bottom-right-radius: 0;
	// 	margin-bottom: 0;
	// }
}

//-----------------------------------------------------------------
// CAPTCHA BADGE
//-----------------------------------------------------------------

.grecaptcha-badge {
	transform: scale(0.9);
	bottom: rem-calc(70) !important;
}

//-----------------------------------------------------------------
// ASTERISK
//-----------------------------------------------------------------

.asterisk {
	font-size: rem-calc(20);
	line-height: 0;
	color: $blue;
}

//-----------------------------------------------------------------
// FORM GROUPS WITH ICONS
//-----------------------------------------------------------------

.form-group.has-icon {
	position: relative;

	> i {
		position: absolute;
		top: rem-calc(18);
		left: -10px;
		left: rem-calc(15);
		line-height: 0;
		color: rgba(black, 0.4);
		z-index: 2;

		+ .input-group input,
		+ input {
			position: relative;
			padding-left: rem-calc(40);
			z-index: 1;
		}
	}
}

//-----------------------------------------------------------------
// DEFAULTS
//-----------------------------------------------------------------

fieldset {
	margin-bottom: $spacer;
}

.custom-control {
	margin-bottom: rem-calc(15);
}

// form label em,
// form label i {
// 	// color: rgba(white, 0.5);
// }

.global-footer input,
.global-footer button {
	// border: 0;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================