/*
    FORMS.CSS

    - Last updated: 09.10.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FORMS
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form,
form[data-toggle="validator"] {
	.error {
		display: none;
		padding: rem-calc(5 10 4 10);
		background: $red;
		font-weight: $font-weight-normal;
		color: white;
	}

	.has-error > .error {
		display: block;
		margin-bottom: $form-group-margin-bottom;
	}

	.has-error > .form-control {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 0;
	}

	button.disabled {
		opacity: 1;
	}
}

form:not(.global-search-form) .btn {
	min-width: rem-calc(250);
	font-size: rem-calc(17) !important;
	color: white !important;
	justify-content: center;

	&.disabled {
		cursor: not-allowed;
	}
}

//-----------------------------------------------------------------
// ASTERISK
//-----------------------------------------------------------------

.asterisk {
	font-size: rem-calc(20);
	line-height: 0;
	color: #e75c5a; //$blue;
}

//-----------------------------------------------------------------
// CUSTOM SELECT WRAPPER - has preloader for widget
//-----------------------------------------------------------------

.custom-select-wrapper {
	position: relative; // [LOCKED] - IE11
	margin-top: -10px; // [LOCKED] - design

	@include media-breakpoint-up(md) {
	    display: flex;
	}
}

//-----------------------------------------------------------------
// CUSTOM SELECT
// WARNING: this only applies to surfcams dropdowns - purposefully inconsistent
//-----------------------------------------------------------------

.custom-select-wrapper .custom-select {
	display: flex; // [LOCKED] - override Bootstrap
	align-items: center;
	position: relative; // [LOCKED]
	height: 56px; // [LOCKED] - control overall height here
	padding: 0 20px;
	border: 0; // [LOCKED]
	border-radius: 0; // [LOCKED] - override Bootstrap
	background: #e4e2e3; // [LOCKED]
	z-index: 1;

	@include media-breakpoint-up(md) {
	    width: 50%;
	}

	select {
		position: absolute;
		top: 8px;
		left: 8px;
		width: calc(100% - 16px); // [LOCKED]
		height: calc(100% - 16px);
		// padding: rem-calc(0 60 0 40);
		padding: rem-calc(0 50 0 35);
		border: none;
		margin: 0;
		border-radius: 0;
		background: #d6d6d6;
		font-size: rem-calc(15);
		font-weight: bold;
		color: #484848;
		appearance: none; // [LOCKED]
		-moz-appearance: none; // [LOCKED]
		-webkit-appearance: none; // [LOCKED]
		z-index: -1;

		&:focus {
			outline: none;
		}
	}

	.fa {
		pointer-events: none;
		margin-right: auto;
	}

	.fa-caret-down {
		margin-right: 0;
		font-size: rem-calc(32);
	}

	.fa-refresh {
		padding: 0 10px;
		margin-right: 0;
		font-size: rem-calc(18);
		color: white;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================