/*
    GALLERY.CSS

    - updated: 31.05.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GALLERY
//-----------------------------------------------------------------

.gallery {
	overflow: hidden;

	&.is-condensed {
		[class*="block-grid-"] {
		    margin: rem-calc(-5);

		    li {
		        padding: rem-calc(5);
		    }
		}
	}

	&.is-gapless {
		[class*="block-grid-"] {
		    margin: 0;

		    li {
		        padding: 0;
		    }
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================