/*
    GOOGLE-MAP.CSS

    - Last updated: 11.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GOOGLE MAP
//-----------------------------------------------------------------

.lv-google-map {
    display: flex; // fixed bottom margin error
    position: relative;
    overflow: hidden;

    iframe {
        position: relative;
        z-index: 1;
    }

    .fa-circle-o-notch {
        position: absolute;
        top: calc(50% - #{rem-calc(40)}/2);
        left: calc(50% - #{rem-calc(50)}/2);
        font-size: rem-calc(34);
        color: $primary;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================