/*
    HERO.CSS

    - updated: 17.04.18
    - notes:
        * liquidvisual uses flickity for all sliders
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$hero-height-presets: (
    is-default: (
        xs: auto,
        md: rem-calc(675),
        lg: rem-calc(675), // [LOCKED] - 576 maintain aspect ratio?
    ),
    is-medium: (
        xs: auto,
        md: rem-calc(500),
        lg: rem-calc(500),
    ),
    is-full: (
        xs: auto,
        md: 100vh,
        lg: 100vh,
    ),
    is-static: (
        xs: rem-calc(200),
        md: rem-calc(320),
        lg: rem-calc(320),
    ),
);

//-----------------------------------------------------------------
// HERO WRAPPER [LOCKED]
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;

    .lv-hero {
        overflow: hidden; // [LOCKED] - hides slides when no JS
    }
}

//-----------------------------------------------------------------
// HEIGHT PRESETS
//-----------------------------------------------------------------

@each $preset, $bps in $hero-height-presets {
    .lv-hero.#{$preset} { // Output a preset selector
        @each $item in $bps {
            $bp: nth($item, 1);
            $val: nth($item, 2);

            @include media-breakpoint-up($bp) {
                height: $val;
            }

            // @if $bp != xl {
            //     @include media-breakpoint-up($bp) {
            //         min-height: $val;
            //     }
            // } @else {
            //     height: $val;
            //     min-height: $val;
            // }
        }
    }
}

//-----------------------------------------------------------------
// HERO ITEM (Slides)
//-----------------------------------------------------------------

.lv-hero-item {
    position: relative; // [LOCKED] - for non-js (?)
    display: flex !important; // [LOCKED] - bx or carousel override
    align-items: center;
    width: 100%; // [LOCKED]
    // height: 100%;
    min-height: rem-calc(540); // curated
    padding: rem-calc(100 0);
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden; // stop video spilling out
    z-index: 1; // [LOCKED] - video will be -1

    @include media-breakpoint-up(md) {
        height: 100%;
        padding: 0;
    }

    //=========================================
    // TINT OVERLAY
    //=========================================

    &.is-tinted:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.26);
        z-index: 1;
    }
}

//-----------------------------------------------------------------
// IS ALTERNATE (INNER PAGES)
//-----------------------------------------------------------------

.is-static {

    // undo options placed on auto-height - this is slim banner
    .lv-hero-item {
        height: 100%;
        min-height: 0;
        padding: 0;
    }
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption {
    position: relative;
    color: white;
    z-index: 1; // [LOCKED] - above tint

    // better
    @include media-breakpoint-up(lg) {
        padding-top: rem-calc(60);
    }
}

.is-full .lv-hero-item-caption {
    padding-top: 0
}

//-----------------------------------------------------------------
// CAROUSEL CONTROLS
//-----------------------------------------------------------------

.lv-hero-slider-controls {
    position: absolute;
    top: 44%;
    width: 100%;
    height: 0;
    z-index: 100;

    > .container {
        position: relative;
    }

    //=========================================
    // NEXT / PREV BUTTONS
    //=========================================

    .lv-hero-slider-prev-btn,
    .lv-hero-slider-next-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: rem-calc(50);
        height: rem-calc(80);
        line-height: 0;
        cursor: pointer;
        font-family: "FontAwesome";
        font-size: rem-calc(50);
        // background: rgba(black, 0.2);
        color: rgba(white, 0.8);
        // text-shadow: 0 1px 4px rgba(black, 0.1);
        transition: background 300ms ease, color 300ms ease;

        &:hover {
            background: rgba(black, 0.2);
            color: rgba(white, 0.9);

            i {
                transform: translateX(-3px);
            }
        }

        &:active {
            color: rgba(white, 0.5);
        }

        i {
            padding-bottom: rem-calc(4);
            transition: transform 400ms ease;
            transform: translateX(0);
        }
    }

    .lv-hero-slider-prev-btn {
        left: 0; // $container-gutter/2;
        border-radius: 0 $border-radius $border-radius 0;
    }

    .lv-hero-slider-next-btn {
        right: 0; //$container-gutter/2;
        border-radius: $border-radius 0 0 $border-radius;

        &:hover {
            i {
                transform: translateX(3px);
            }
        }
    }
}

//-----------------------------------------------------------------
// FLICKITY CUSTOM
//-----------------------------------------------------------------

.lv-page .lv-hero .flickity-page-dots {
    bottom: rem-calc(15);
    z-index: 999;

    // curated
    .dot {
        width: rem-calc(13);
        height: rem-calc(13);
        margin: rem-calc(0 5);
        // border: 1px solid rgba(white, 0.3);
        background: rgba(white, 0.3);

        &.is-selected {
            background: rgba(white, 0.6);
        }
    }
}

.lv-hero .flickity-viewport {
    @include media-breakpoint-up(md) {
        height: 100% !important; // fixes responsive issue
    }
}

// for auto height animation
.flickity-viewport {
    will-change: auto;
    transition: height 300ms ease;
}

//=========================================
// FADE INSTEAD OF SLIDE
// https://github.com/metafizzy/flickity/issues/26
// https://codepen.io/dallanlee/pen/GEjWpo
//=========================================

// .has-fade-transition {
//     .lv-hero .flickity-slider {
//         transform: none !important;
//     }

//     .lv-hero .lv-hero-item {
//         left: 0 !important;
//         opacity: 0;
//         transition: opacity 0.9s ease-in-out 0.3s;
//         z-index: 1;
//     }

//     .lv-hero .lv-hero-item.is-selected {
//         opacity: 1;
//         transition: opacity 0.9s ease-in-out;
//         z-index: 2;
//     }
// }

//-----------------------------------------------------------------
// HERO - SCROLL PROMPT
//-----------------------------------------------------------------

.lv-hero-scroll-prompt {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: calc(50% - 20px);
    bottom: rem-calc(100);
    width: rem-calc(40);
    height: rem-calc(40);
    border-radius: 100%;
    background: rgba(white, 0.3);
    font-size: rem-calc(30);
    text-align: center;
    color: black;
    transition: background-color ease 300ms;
    animation: pulsate 0.8s ease-out 0.3s alternate infinite;
    z-index: 1;

    &:hover {
        color: black;
        background: rgba(white, 0.25);
    }

    @keyframes pulsate {
        0% { transform: translateY(0);}
        100% { transform: translateY(10px);}
    }
}

//-----------------------------------------------------------------
// HERO - YOUTUBE VIDEO
// https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
//-----------------------------------------------------------------

.lv-hero .video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.lv-hero .video-fg,
.lv-hero .video-bg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.lv-hero .video-bg iframe {
    display: none;
    opacity: 0;
    animation: delayShow 2s ease 3.5s alternate 1 forwards;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

@keyframes delayShow {
    0%   { opacity: 0;  }
    100% { opacity: 1;  }
}

// DEFAULT HERO
.lv-hero:not(.is-full) .video-fg {
    @include media-breakpoint-up(md) {
        display: block;
        left: -100%;
        width: 300%;
    }
    @include media-breakpoint-up(lg) {
        top: -103%;
        left: 0;
        width: 106%;
        height: 306%;
    }
}

// FULSCREEN PRESET
.lv-hero.is-full .video-fg {
    @media (min-aspect-ratio: 16/9) {
        height: 300%;
        top: -100%;
    }
    @media (max-aspect-ratio: 16/9) {
        width: 300%;
        left: -100%;
    }
}

// MEDIUM PRESET - kind of a hassle
.lv-hero.is-medium .video-fg {
    @include media-breakpoint-down(md) {
        top: -106%;
        left: 0;
        width: 103%;
        height: 303%;
    }
}

// Notes: 16:9 is 1024x576, 720p is 1280x720, HD is 1920x1080

// video::-webkit-media-controls {
//     display: none !important; // for video element
// }

//=============================================
//
//=============================================