/*
    MULTICAM-WIDGET.CSS

    - Last updated: 03.09.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// CLOAK
//-----------------------------------------------------------------

[v-cloak],
[v-cloak] > * {
	display: none;
}

//-----------------------------------------------------------------
// VUE MULTICAM (VUE INSTANCE)
//-----------------------------------------------------------------

.vue-multicam {
	position: relative; // for premium overlay

	> ul {
		overflow: visible;
	}
}

//-----------------------------------------------------------------
// MULTICAM-WIDGET
//-----------------------------------------------------------------

.multicam-widget {
	position: relative;
	// z-index: 1; // dynamic based on 'open' data property
}

//-----------------------------------------------------------------
// EDIT BUTTON
//-----------------------------------------------------------------

.multicam-edit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 27px;
	min-width: 27px;
	height: 24px;
	padding: 0;
	margin: 8px;
	background: rgba(white, 0.55);
	border: none; // [RESET]
	z-index: 100; // was 500? [LOCKED]

	.icon {
		width: 100%;
		height: 100%;
		font-size: rem-calc(18);
		text-align: center;
		color: #484848; // [OVERRIDE]
	}

	&:hover {
		background: rgba(white, 1);
	}
}

.is-editing .multicam-edit-btn {
	background: none;
	color: white;
}

//-----------------------------------------------------------------
// MULTICAM SELECT (OVERLAY)
//-----------------------------------------------------------------

.multicam-select {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px; // [LOCKED]
	// background-image - controlled dynamically
	// font-family: $headings-font-family;
	font-weight: 600;
	background-color: #b6b6b6;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5; // was 10? [LOCKED]

	// SELECT
	.multiselect {
		max-width: 425px; // [LOCKED]
		margin: 0 auto;
		// will-change: transform, opacity;
	}
}

.multicam-select-entrance-enter-active,
.multicam-select-entrance-leave-active {
 	transition: opacity 200ms ease, transform 300ms ease;
}

.multicam-select-entrance-enter,
.multicam-select-entrance-leave-to /* .fade-leave-active below version 2.1.8 */ {
	// transform: scale(0.95);
	opacity: 0;
}

// quick and dirty fix to font weight changing on click
.multiselect__input {
	font-weight: 600; // [LOCKED]
}

//-----------------------------------------------------------------
// MULTICAM VIDEO (also used by surfcams)
//-----------------------------------------------------------------

.video-player-flow,
.video-player-plyr {
	position: relative;
	overflow: hidden; // stop logo from flying out in FlowPlayer
}

.video-player-watermark {
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 54px;
	height: 54px;
	background: url('/assets/img/content/swellnet-logo-watermark.svg') no-repeat;
	background-size: contain;
	opacity: 0.6;
	z-index: 1;
}

//-----------------------------------------------------------------
// MESSAGE OVERLAYS
// used by video in multicam AND surfcams
//-----------------------------------------------------------------

.video-player-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #54c5d1 0%, darken(#54c5d1, 18%) 100%); // PSD
	text-align: center;
	color: white;
	z-index: 10;

	// INNER
	> div, // legacy
	.video-player-overlay-inner {
		width: 90%;
		// border: 1px dashed red;

		@include media-breakpoint-up(md) {
		    width: 62%;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		color: white;

		.badge { // WHY? btn
			position: relative;
			top: -3px;
			background-color: #545e66;
		}
	}

	// ICON WARNING
	.fa:not(.fa-angle-right) {
		font-size: rem-calc(40);
	}

	// LOGO
	.logo {
		width: rem-calc(100);

		@include media-breakpoint-up(xl) {
		    width: rem-calc(150);
		}
	}

	p {
		font-weight: 600; // cheating

		@include media-breakpoint-up(md) {
		    font-size: rem-calc(17);
		}
	}

	// Already a subscriber? Log in here
	.text-link {
		color: white;
		text-decoration: underline;
	}

	// EG. Get Swellnet Pro >
	.btn {
		justify-content: center;
		min-width: rem-calc(230); // PSD
		border-radius: 0;
		font-weight: $font-weight-bold;
		color: white;

		@include media-breakpoint-up(md) {
			font-size: rem-calc(17);
		    line-height: rem-calc(35);
		}
	}
}

.video-player-overlay-error {
	// background: rgba(black, 0.8);
	background: black;
}

//-----------------------------------------------------------------
// VUE PREMIUM
//-----------------------------------------------------------------

.vue-multicam-premium {
	position: absolute;
	top: 9px;
	left: 0;
	width: 100%;
	height: calc(100% - 17px);
	padding: 20px;
	font-size: rem-calc(23);
	text-align: center;
	color: white;
	background: rgba(black, 0.3);
	z-index: 2147483647;

	.vue-multicam-premium-outer {
		background: rgba(black, 0.8);
	}

	.vue-multicam-premium-inner {
		padding: 30px 30px 80px 30px;
	}

	h3, a {
		color: white;
	}

	h3 {
		margin-bottom: 20px;
	}

	p {
		max-width: 515px;
		margin: 0 auto 15px auto;
	}

	.vue-multicam-premium-btn {
		display: inline-block;
		text-decoration: none;
		background: $secondary;
		padding: 10px 25px;
		margin: 10px 0 20px 0;

		&:hover {
			background: lighten($secondary, 5%);
		}
	}
}

// .paywall-enabled .vue-multicam-premium {
	// display: block;
// }

//=========================================
//
//=========================================