.lv-page .global-header,
.lv-page .global-footer,
.lv-page .lv-off-canvas {
  font-size: 16px;
}

.lv-page .is-more-group {
  font-size: 18px;
}


.lv-page .lv-nav .dropdown li a {
  padding: 0 24px; // rem-calc(0 24); // [LOCKED] - design
  line-height: 38px; //rem-calc(38); // [LOCKED] - design
  font-size: 15px; //rem-calc(15); // [LOCKED] - opinionated - design is 16
  // color: orange;
}

$countries2: 11;

.lv-page .lv-nav li.has-dropdown.is-reports-mega-menu {
  // [LOCKED] - most simple way to achieve this - fixed didn't work
  @for $i from 0 to $countries2 {
      > .dropdown > li:nth-child(#{$i + 1}) > ul.dropdown {
          top: calc(-39px * #{$i});
      }
  }
}

.lv-off-canvas ul li.is-off-canvas-only  {
  border-bottom: 1px solid rgba(0,0,0,.05); /* home */
}

.lv-off-canvas ul li.is-more-group {
  border-bottom: 0; /* last item line */
}