/*
    SPONSOR.CSS

    - Last updated: 12.07.19, 23.10.18
    - liquidvisual.com

    NOTES:

    Named 'sponsor' to prevent ad-blockers picking up on the word 'ad'
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPONSOR
//-----------------------------------------------------------------

.global-sponsor {
	// padding: rem-calc(17 0);
	background: #e8e8e9; // need this as var
}

.global-sponsor .ad-container > div,
.global-sponsor .adblock-billboard {
	box-sizing: content-box;
	padding: rem-calc(17 0);
	overflow: auto;
}

//-----------------------------------------------------------------
// SPONSOR OVERLAYS (JEEP)
//-----------------------------------------------------------------

.video-player-overlay-sponsor {
	position: relative;
	margin-bottom: 24%;
	pointer-events: none;
	animation-duration: 300ms;
	// animation: enter-sponsor-overlay 1s ease 0 alternate 1 forwards; // 3 sec delay
	z-index: 100;

	// @keyframes enter-sponsor-overlay {
	//     from { opacity: 0; }
	//     to   { opacity: 1; }
	// }

	img {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: -17%;
	}

	// attach to premium overlay - dimensions are dynamic
	&.is-premium-attached img {
		margin-bottom: -9%; // must hardcode

		@media (min-width: 400px) { margin-bottom: -10%; }
		@media (min-width: 480px) { margin-bottom: -11%; }
		@media (min-width: 560px) { margin-bottom: -12%; }
		@media (min-width: 640px) { margin-bottom: -13%; }
		@media (min-width: 720px) { margin-bottom: -14%; }

		@include media-breakpoint-up(lg) {
		    margin-bottom: -13%;
		}
	}
}

// Remember: only FlowPlayer has ads
.video-player-flow.has-overlay-sponsor {
	.video-player-watermark {
		bottom: 28px; // hoist watermark so we can
	}
}

// LEGACY JW - remove in next revision

/* reposition controls to top */
// .jeep-dashboard .jw-flag-live .jw-controls .jw-controlbar {
// 	top: 0;
// 	bottom: auto;
// 	background: linear-gradient(to bottom, rgba(#000,0.2) 0%,rgba(#000,0) 100%) !important; // subtle bg shadow
// }

// @media (max-width: 767px) {
// 	left: -15px;
// 	width: calc(100% + 30px);
// 	margin-bottom: 25%;
// }

//=========================================
//
//=========================================