/*
    VIDEO-PLAYER.CSS

    - Last updated: 11.07.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// VIDEO PLAYER
// 1. flow - is for surfcams, has ads
// 2. plyr - is for surfcams, multicams and has NO ads
//-----------------------------------------------------------------

.video-player-flow,
.video-player-plyr {
	position: relative;
	overflow: hidden; // stop error overlay from spilling
}

//-----------------------------------------------------------------
// PREVENT VIDEO FLAUC
// EG. <img class="video-player-sizer" width="100%" src="/assets/img/layout/placeholder-video-1280x720.svg">
//-----------------------------------------------------------------

// pulls the player up absolutely - currently only in flowplayer
// .video-player-body {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

.video-player-sizer {
	display: none !important; // might revisit this, but would have to implement with PLYR
}

//-----------------------------------------------------------------
// PLAYER WATERMARK
//-----------------------------------------------------------------

.video-player-watermark {
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 54px;
	height: 54px;
	background: url('/assets/img/content/swellnet-logo-watermark.svg') no-repeat;
	background-size: contain;
	opacity: 0.6;
	z-index: 1;
}

//-----------------------------------------------------------------
// PLAYER OVERLAY
//-----------------------------------------------------------------

.video-player-overlay {
	position: relative;
	z-index: 10; // [LOCK]

	// TEXT
	p {
		font-weight: 600;

		@include media-breakpoint-up(md) {
		    font-size: rem-calc(17);
		}
	}
}

//-----------------------------------------------------------------
// PLAYER OVERLAY - ERRORS
// * used by video in multicam AND surfcams
// * applies directly to ERRORS which appears INSIDE player
//-----------------------------------------------------------------

.video-player-overlay-error {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(black, 0.8);

	// INNER
	> div, // legacy multicam
	.video-player-overlay-inner {
		width: 90%;
		// border: 1px dashed red;
		text-align: center;
		color: white;

		@include media-breakpoint-up(md) {
		    width: 62%;
		}
	}

	// ICON WARNING (ERRORS)
	.fa:not(.fa-angle-right) {
		font-size: rem-calc(40);
	}
}

//-----------------------------------------------------------------
// PLAYER OVERLAY - TIMEOUT, PREMIUM
//-----------------------------------------------------------------

.video-player-overlay-timeout,
.video-player-overlay-premium {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #54c5d1 0%, darken(#54c5d1, 18%) 100%); // PSD

	@include media-breakpoint-up(xl) {
		min-height: 413px;
	}

	// INNER
	.video-player-overlay-inner {
		width: 90%;
		padding: rem-calc(40 0);
		// border: 1px dashed red;
		text-align: center;
		color: white;

		@include media-breakpoint-up(md) {
		    width: 62%;
		}
	}

	// LOGO
	.logo {
		width: rem-calc(100);

		@include media-breakpoint-up(xl) {
		    width: rem-calc(150);
		}
	}

	h1, h2, h3, h4, h5, h6 {
		color: white;

		.badge { // WHY? btn
			position: relative;
			top: -3px;
			background-color: #545e66;
		}
	}

	// Already a subscriber? Log in here
	.text-link {
		color: white;
		text-decoration: underline;
	}

	// EG. Get Swellnet Pro >
	.btn {
		justify-content: center;
		min-width: rem-calc(230); // PSD
		border-radius: 0;
		font-weight: $font-weight-bold;
		color: white;

		@include media-breakpoint-up(md) {
			font-size: rem-calc(17);
		    line-height: rem-calc(35);
		}
	}
}

// Override this prompt which shows after 30secs.
.has-flowplayer-expanded .video-player-overlay-timeout {
	display: none;
}

//-----------------------------------------------------------------
// EXPAND FEATURE AD
// Shows in bottom right of the video on premium layouts only.
// Hides when video expands.
//-----------------------------------------------------------------

.new-expand-feature {
	position: relative;

	img {
		position: absolute;
		top: calc(100% + 4px);
		right: 0;
	}
}

.has-plyr-expanded .new-expand-feature {
	display: none;
}

//-----------------------------------------------------------------
// THEATRE MODE FOR FLOW PLAYER
//-----------------------------------------------------------------

.flow-btn-expand,
.flow-btn-shrink {
	position: absolute;
	top: rem-calc(15);
	right: rem-calc(60);
	border: 0;
	background: transparent;
	color: white;
	z-index: 2;

	&:hover {
		background: rgba(black, 0.2);
	}
}

.flow-btn-expand {
	display: none;
}

.video-player-flow:hover .flow-btn-expand {
	display: block;
}

#video-player-overlay-premium-feature {
	@include media-breakpoint-up(lg) {
	    height: rem-calc(720);
	}
}

#video-player-overlay-premium-feature .flow-btn-shrink {
	right: rem-calc(20);
}

//=========================================
//
//=========================================