---
layout: base
---

{% if page.breadcrumbs %}
	{% include components/navigation/breadcrumbs.html %}
{% endif %}

<!-- MAIN BODY -->
<main class="main-body">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 pr-lg-4">

	        	<!-- TITLE -->
	        	<h1 class="mb-4">{{ page.title }}</h1>
	        	{{ content }}

	        </div>
	        <div class="col-lg-4 pl-lg-3">
				<aside class="sidebar">
					{% contentblock sidebar no-convert %}
				</aside>
	        </div>
	    </div>
	</div>

	{% contentblock content_additional no-convert %}
</main>