<!DOCTYPE html>
<html lang="en" {{ site.environment }}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
    <title>
        {%- if page.url == '/' -%}
            {{- site.data.settings.title_homepage -}}
        {%- else -%}
            {{- page.title }} - {{ site.data.settings.title -}}
        {%- endif -%}
    </title>

    <!-- CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700|Montserrat:500,600,700,800">

    <!-- build:css({src,.tmp}) /assets/css/minified.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- LEGACY -->
    {% include legacy/head.html %}

</head>
<body class="{{ page.theme }}">

    {% include components/layout/loader.html %}

    <div class="lv-page">

        <!-- HEADER -->
        <header class="global-header">
            {% include components/layout/header.html %}
        </header>

        {{ content }}

        <!-- FOOTER -->
        <footer class="global-footer">
            {% include components/layout/footer.html %}
        </footer>

    </div> <!-- /.lv-page -->

    <!-- OFF-CANVAS MENU -->
    <nav class="lv-off-canvas" data-off-canvas-menu aria-hidden="true">
        {% include components/navigation/nav.html %}
    </nav>

    <!--[if lte IE 9]>
    <div class="lv-alert-bar">
        <p>You're using an outdated browser. Please <a href="http://outdatedbrowser.com">upgrade your browser</a> to improve your experience.</p>
        <span class="lv-alert-bar-close-btn">&times;</span>
    </div>
    <![endif]-->

    {% include legacy/closing_body.html %}

    <!-- **** JAVASCRIPT **** -->

    <!-- build:js({src,.}) /assets/scripts/minified-hls.js -->
    <script src="/node_modules/hls.js/dist/hls.js"></script>
    <!-- endbuild -->

    <!-- build:js({src,.}) /assets/scripts/minified.js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="/node_modules/bootstrap/js/dist/util.js"></script>
    <script src="/node_modules/bootstrap/js/dist/tooltip.js"></script>
    <script src="/node_modules/flickity/dist/flickity.pkgd.js"></script>
    <script src="/node_modules/flickity-bg-lazyload/bg-lazyload.js"></script>
    <script src="/node_modules/headroom.js/dist/headroom.js"></script>
    <script src="/node_modules/moment/min/moment.min.js"></script>
    <script src="/node_modules/moment/locale/en-au.js"></script>
    <script src="/node_modules/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
    <script src="/node_modules/plyr/dist/plyr.polyfilled.js"></script>
    <script src="/node_modules/axios/dist/axios.js"></script>
    <script src="/node_modules/vue/dist/vue{% unless site.environment == 'development' %}.min{% endunless %}.js"></script>
    <script src="/node_modules/vue-multiselect/dist/vue-multiselect.min.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/Index.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/DateSelect.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/TimeSelect.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/ThumbSlider.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/SurfcamPlayerJW.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/SurfcamPlayerPlyr.js"></script>
    <script src="/assets/scripts/vue-components/Surfcam/VueFlickity.js"></script>
    <script src="/assets/scripts/vue-components/Multicam/Index.js"></script>
    <script src="/assets/scripts/vue-components/Multicam/Multicam.js"></script>
    <script src="/assets/scripts/vue-components/Multicam/MulticamPlayerPlyr.js"></script>
    <script src="/assets/scripts/vue-components/Multicam/MulticamSelect.js"></script>
    <script src="/assets/scripts/vue-components/app.js"></script>
    <script src="/assets/scripts/off-canvas.js"></script>
    <script src="/assets/scripts/mega-menu.js"></script>
    <script src="/assets/scripts/flickity.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->

    {% if site.environment == 'development' %}
        <script src="/assets/scripts/liquidvisual/responsive-utility.js"></script>
    {% endif %}

    <!-- NO JAVASCRIPT WARNING -->
    <noscript>
        <div class="lv-alert-bar">
            <p>Your browser has JavaScript disabled. Please enable it to continue.</p>
        </div>
    </noscript>

</body>
</html>