---
layout: base
---

<!-- SPONSOR -->
<div class="global-sponsor">
    <div class="container text-center">
    	<!-- AD IFRAME GOES HERE -->
    	<div class="ad-container">
    		<div>
   				<img width="728" style="max-width: 100%;" src="/assets/img/content/gio-ad.jpg">
    		</div>
    	</div>
        <!-- AD IFRAME GOES HERE -->
    </div>
</div>

{% if page.breadcrumbs %}
	{% include components/navigation/breadcrumbs.html %}
{% endif %}

<!-- MAIN BODY -->
<main class="main-body">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 pr-lg-4">

				<!-- TITLE -->
				<h1 class="page-heading mb-4">
					{{ page.title }}
					<img width="28" src="/assets/img/ui/premium-icon.svg">
				</h1>

	        	{{ content }}
	        </div>
	        <div class="col-lg-4 pl-lg-3">
				<aside class="sidebar">

					<!-- XMAS GIFT PROMOTION -->
					<!-- <p class="mb-4">
						<a href="/pro/gift">
							<img width="100%" src="/assets/img/content/swellnet-pro-gift-subscriptions@4x.jpg" alt="Swellnet Pro Gift Subscriptions">
						</a>
					</p> -->

					{% contentblock sidebar no-convert %}
				</aside>
	        </div>
	    </div>
	</div>

	{% contentblock content_additional no-convert %}
</main>