<!DOCTYPE html>
<html lang="en" {{ site.environment }}>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="..." />
        <title>Shopify Template (2024)</title>

        <!-- CDN -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700|Montserrat:500,600,700,800"
        />

        <!-- build:css({src,.tmp,.}) /assets/css/minified.css -->
        <link rel="stylesheet" href="/css/main.css" />
        <!-- endbuild -->
    </head>
    <body class="{{ page.theme }}">
        <div class="lv-page">
            <!-- HEADER -->
            <header class="global-header">
                {% include components/header.html %}
            </header>

            <!-- MAIN BODY -->
            <main class="main-body">
                <div class="container">
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                    testing<br />
                </div>
            </main>

            <!-- FOOTER -->
            <footer class="global-footer">
                {% include components/footer.html %}
            </footer>
        </div>
        <!-- /.lv-page -->

        <!-- OFF-CANVAS MENU -->
        <nav class="lv-off-canvas" data-off-canvas-menu aria-hidden="true">
            {% include components/nav.html %}
        </nav>

        <!-- **** JAVASCRIPT **** -->

        <!-- build:js({src,.}) /assets/scripts/minified.js -->
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.js"></script>
        <script src="/node_modules/bootstrap/js/dist/util.js"></script>
        <script src="/node_modules/bootstrap/js/dist/tooltip.js"></script>
        <script src="/node_modules/headroom.js/dist/headroom.js"></script>
        <script src="/node_modules/jquery.scrollTo/jquery.scrollTo.js"></script>
        <script src="/node_modules/smoothscroll-polyfill/dist/smoothscroll.js"></script>
        <script src="/node_modules/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
        <script src="/node_modules/axios/dist/axios.js"></script>
        <script src="/assets/scripts/liquidvisual/headroom.js"></script>
        <script src="/assets/scripts/off-canvas.js"></script>
        <script src="/assets/scripts/mega-menu.js"></script>
        <script src="/assets/scripts/render-nav-children.js"></script>
        <script src="/assets/scripts/main.js"></script>
        <!-- endbuild -->

        {% if site.environment == 'development' %}
        <script src="/assets/scripts/liquidvisual/responsive-utility.js"></script>
        {% endif %}

        <!-- NO JAVASCRIPT WARNING -->
        <noscript>
            <div class="lv-alert-bar">
                <p>
                    Your browser has JavaScript disabled. Please enable it to
                    continue.
                </p>
            </div>
        </noscript>
    </body>
</html>
