---
layout: base
---

<!-- SPONSOR -->
<div class="global-sponsor">
    <div class="container text-center">
    	<!-- AD IFRAME GOES HERE -->
    	<div class="ad-container">
    		<div>
   				<img width="728" style="max-width: 100%;" src="/assets/img/content/gio-ad.jpg">
    		</div>
    	</div>
        <!-- AD IFRAME GOES HERE -->
    </div>
</div>

{% if page.breadcrumbs %}
	{% include components/navigation/breadcrumbs.html %}
{% endif %}

<!-- MAIN BODY -->
<main class="main-body">
	<div class="container">
		{{ content }}
	</div>
</main>