---
layout: base
---

{% include {{ page.hero | default: 'components/hero/hero_static.html' }} align_caption=page.hero_caption_align options=page.hero_options data=page.hero_data %}

{% if page.breadcrumbs %}
	{% include components/navigation/breadcrumbs.html %}
{% endif %}

<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

<style>
    html, body {
        background: #e3e6eb;
        /*background: #fbfafa;*/
    }

    [v-cloak] {
        display: none;
    }

    @font-face {
        font-family: 'BLOKK';
        font-style: normal;
        font-weight: 300;
        src: url('/assets/fonts/BLOKKNeue-Regular.eot');
        src: local('☺'),
            url('/assets/fonts/BLOKKNeue-Regular.woff') format('woff'),
            url('/assets/fonts/BLOKKNeue-Regular.tff') format('truetype'),
            url('/assets/fonts/BLOKKNeue-Regular.svg') format('svg');
    }

    .container {
    	max-width: 1800px;
    }
</style>

<!-- BODY -->
<main class="main-body">

    <!-- DOCS APP -->
	<div id="docs-app" v-cloak>
		<div class="container">
		    <div class="row">
		        <div class="col-lg-9 pr-lg-4 order-last">
		        	{% for item in page.sections %}
		        		{% for item in item.children %}

							<!-- DOCS -->
							<docs files="{{ item.files | join: ',' }}" class="docs" inline-template>
								<div>

									<!-- SECTION CONTENT -->
				        			<section id="{{ item.title | slugify }}" class="section-content">
			        					<div class="row">
			        						<div class="col-md-11">
			        							<h2>{{ item.title }}</h2>
			        							{{ item.desc | markdownify }}
			        						</div>
			        					</div>

			        					{% comment %}
										<!-- SHOW PROPERTIES -->
			        					<button class=" p-0 btn btn-link" @click="showProperties = !showProperties">
			        						<b>
			        							<span v-if="!showProperties">Show Properties <i class="fa fa-angle-down"></i></span>
			        							<span v-if="showProperties">Hide Properties <i class="fa fa-angle-up"></i></span>
			        						</b>
			        					</button>

										<!-- SECTION TABLE -->
										<div class="card card-table my-4">
											<table v-if="showProperties" class="table table-bordered table-sm mb-0">
												<thead>
													<tr>
														<th>Property</th>
														<th>Field</th>
														<th>Options</th>
														<th>Default</th>
														<!-- <th>Description</th> -->
													</tr>
												</thead>
												<tbody>
													{% for item in item.fields %}
														<tr>
															<td>{{ item.label }}</td>
															<td>{{ item.widget | capitalize }}</td>

															<!-- Options (for select) -->
															<td>
																<ul class="mb-0">
																	{% for item in item.options %}
																		<li class="pl-0">
																			{{ item.label }}: "{{ item.value }}"
																		</li>
																	{% endfor %}
																</ul>
															</td>

															<td>{{ item.default | default: '-' }}</td>
															<!-- <td>{{ item.label }}</td> -->
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
										{% endcomment %}

									</section>

						        	<section class="card-docs section-content card">

										<!-- CARD DOCS HEADER -->
						        		<header class="card-docs-header">
						        			<button v-if="!codeEnabled" class="active text"><i class="fa fa-eye"></i>&nbsp; Preview</button>

											<button
												v-for="item in filesArray"
												v-if="codeEnabled"
												:class="{ active: item.active }"
												class="text"
												@click="selectFile(item)">
													<i class="fa fa-file-code-o mr-1"></i><span v-text="item.alias"></span>
											</button>

						        			<button @click="enableCode" :class="{ active: codeEnabled }" class="card-docs-header-btn-tool ml-auto"><i class="fa fa-code"></i></button>
						        		</header>

										<!-- CARD DOCS BODY -->
						        		<div class="card-docs-body">

											<!-- CARD DOCS CODE -->
						        			<div v-show="codeEnabled && item.active" v-for="item in filesArray" class="card-docs-code">
												<pre class="lang-liquid prettyprint linenums" :class="{ 'line-numbers': item.result }"><code class="prettyprint" v-text="item.result"></code></pre>
						        			</div>

											<!-- CARD DOCS COMPONENT -->
											<div class="card-docs-component">
												{% if item.section %}
													{% capture component %}{% include {{ item.url }} %}{% endcapture %}
													{% include {{ item.section }} content_block=component %}
												{% else %}
													<div class="m-4">
														{% include {{ item.url }} %}
													</div>
												{% endif %}
											</div>

						        		</div>
						        	</section>
						        </div>
				        	</docs>

							<div class="spacer my-4"></div>

			        	{% endfor %}
		        	{% endfor %}
		        </div>
		        <div class="col-lg-3 pl-lg-3">

		        	<!-- SIDEBAR -->
					<aside class="sidebar">
						<section class="section">
							<div class="container">

								<!-- THEMES -->
								<h5>Themes</h5>
								<div class="d-flex flex-wrap mb-4">
									<button
										v-for="item in themes"
										:class="item.name"
										class="btn-theme"
										:title="item.label"
										@click="selectTheme(item)">
											<i v-show="item.active" class="fa fa-check"></i>
									</button>
								</div>

								<!-- MODIFIERS -->
								<h5>Modifiers</h5>
								<div class="form-group mb-4" style="opacity: 1">
								    <label v-for="item in modifiers" class="custom-control custom-checkbox mb-1">
								        <input class="custom-control-input" type="checkbox" :name="item.label" :value="item.name" v-model="item.active" @click="selectModifier(item)">
								        <p class="custom-control-label" v-text="item.label"></p>
								    </label>
								</div>

								<!-- NAV -->
								<ul class="nav d-block">
									{% for item in page.sections %}
										<li class="mb-3">
											<h5>{{ item.title }}</h5>
											<ul class="list-unstyled">
												{% for item in item.children %}
													<li><a href="#{{ item.title | slugify }}">{{ item.title }}</a></li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>

							</div>
						</section>
					</aside>
		        </div>
		    </div>
		</div>
	</div>

	{% comment %}
	<div class="highlighter-rouge">
	    <div class="highlight">
	        <pre class="highlight">
	            <code>{{- code | xml_escape -}}</code>
	        </pre>
	    </div>
	</div>

	// RAW
	<pre class="prettyprint">
		<code class="language-html">
		{%- highlight html -%}
			{% include components/cards/card.html %}
		{%- endhighlight -%}
		</code>
	</pre>

	<pre class="prettyprint">
		<code class="language-json prettyprint">
		{%- highlight json -%}
			{{ item.fields | jsonify }}
		{%- endhighlight -%}
		</code>
	</pre>
	{% endcomment %}
</main>