 @charset "utf-8";
/*
    MAIN.CSS

    - Last updated: 28.09.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// MIXINS
//-----------------------------------------------------------------

@import "liquidvisual/components/em-calc";
@import "liquidvisual/components/rem-calc";

//-----------------------------------------------------------------
// LEGACY
//-----------------------------------------------------------------

// @import "app/legacy/style";

//-----------------------------------------------------------------
// BOOTSTRAP
//-----------------------------------------------------------------

@import "bootstrap/settings";
@import "bootstrap/bootstrap";

//-----------------------------------------------------------------
// APPLICATION
//-----------------------------------------------------------------

@import "app/base/variables";
@import "app/base/global";

//=========================================
// COMPONENTS (GLOBBED)
//=========================================

@import "app/components/all";

//=========================================
// PAGES
//=========================================

@import "app/pages/swellnet_traveller";
@import "app/pages/home_v2";

//=========================================
// LAYOUT
//=========================================

@import "app/layout/footer";
@import "app/layout/header";
@import "app/layout/nav";
@import "app/layout/nav__dropdown";
@import "app/layout/nav__dropdown_reports";
@import "app/layout/nav__dropdown_surfcams";
@import "app/layout/nav__modifiers";

//=========================================
// HELPERS
//=========================================

// @import "app/helpers/fonts";
@import "app/helpers/special";
// @import "app/helpers/text-editor";
@import "app/helpers/themes";

//-----------------------------------------------------------------
// LOCAL DEPENDENCIES
//-----------------------------------------------------------------

@import "liquidvisual/components/alert-bar";
@import "liquidvisual/components/block-grid";
@import "liquidvisual/components/custom";
@import "liquidvisual/components/toolbox";
// @import "liquidvisual/vendor/magnific-popup/main";
// @import "liquidvisual/vendor/syntax-highlighting";

//-----------------------------------------------------------------
// NODE DEPENDENCIES
//-----------------------------------------------------------------

@import "font-awesome/scss/font-awesome";
@import "animate.css/animate"; // CSS is deprecated in Sass
// @import "flickity/dist/flickity"; // CSS is deprecated in Sass
// @import "social-feed/css/jquery.socialfeed"; // CSS is deprecated in Sass

@import "video.js/dist/video-js";

//*******************************************
// Importing via node_modules fails.
// @import "videojs-contrib-ads/dist/videojs-contrib-ads.css";
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control{pointer-events:none}.vjs-ad-playing.vjs-ad-playing .vjs-play-progress{background-color:#ffe400}.vjs-ad-loading .vjs-loading-spinner{display:block;visibility:visible}.vjs-ad-playing .vjs-captions-button{display:none}.vjs-ad-playing .vjs-audio-button{display:none}.vjs-ad-loading .vjs-loading-spinner:before,.vjs-ad-loading .vjs-loading-spinner:after{-webkit-animation:vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,vjs-spinner-fade 1.1s linear infinite;animation:vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,vjs-spinner-fade 1.1s linear infinite}.vjs-ad-loading .vjs-loading-spinner:before{border-top-color:#fff}.vjs-ad-loading .vjs-loading-spinner:after{border-top-color:#fff;-webkit-animation-delay:0.44s;animation-delay:0.44s}.vjs-ad-loading .vjs-big-play-button,.vjs-ad-loading .vjs-poster,.vjs-ad-content-resuming .vjs-big-play-button,.vjs-ad-content-resuming .vjs-poster{display:none}
//*******************************************

@import "videojs-ima/dist/videojs.ima.scss";

//-----------------------------------------------------------------
// PLYR SETTINGS
//-----------------------------------------------------------------

$plyr-color-main: #333; //lighten($brand-primary, 20%);
// $plyr-color-gunmetal: #2f343d;
// $plyr-color-fiord: #4f5b5f;
// $plyr-color-lynch: #6b7d85;
// $plyr-color-heather: #b7c5cd;

@import "plyr/src/sass/plyr";