@charset "utf-8";
/*
    MAIN.CSS (updated: 26.06.24)
*/
//-----------------------------------------------------------------
// MIXINS
//-----------------------------------------------------------------

@import "liquidvisual/components/em-calc";
@import "liquidvisual/components/rem-calc";

//-----------------------------------------------------------------
// BOOTSTRAP
//-----------------------------------------------------------------

@import "bootstrap/settings";
// @import "bootstrap/bootstrap";
@import "functions";
@import "variables";
@import "mixins";
@import "reboot";
@import "type";
@import "grid";
@import "transitions";
@import "tooltip";
@import "utilities";

//-----------------------------------------------------------------
// APPLICATION
//-----------------------------------------------------------------

@import "app/base/global";

//=========================================
// COMPONENTS (GLOBBED)
//=========================================

@import "app/components/all";

//=========================================
// LAYOUT
//=========================================

@import "app/layout/footer";
@import "app/layout/header";
@import "app/layout/nav";
@import "app/layout/nav__dropdown";
@import "app/layout/nav__dropdown_reports";
@import "app/layout/nav__dropdown_surfcams";
@import "app/layout/nav__modifiers";

//=========================================
// HELPERS
//=========================================

@import "app/helpers/themes";

//-----------------------------------------------------------------
// LOCAL DEPENDENCIES
//-----------------------------------------------------------------

@import "liquidvisual/components/alert-bar";
@import "liquidvisual/components/custom";
@import "liquidvisual/components/toolbox";

//-----------------------------------------------------------------
// NODE DEPENDENCIES
//-----------------------------------------------------------------

// $fa-font-path: "/assets/fonts"; // -- previously
// $fa-font-path: "../fonts";
$fa-font-path: "https://swellnet.com/assets/fonts";
@import "font-awesome/scss/font-awesome";

//-----------------------------------------------------------------
// IMAGE PATHS
//-----------------------------------------------------------------

.lv-page .lv-nav > ul > li.has-dropdown.is-mega.is-surfcams-mega-menu > .dropdown {
    // background-image: url('../img/layout/mega-menu-surfcams-bg@2x.png');
    background-image: url('https://swellnet.com/assets/img/layout/mega-menu-surfcams-bg@2x.png');
}

.lv-page .lv-nav li.has-dropdown.is-reports-mega-menu > .dropdown {
	// background-image: url('../img/layout/mega-menu-reports-bg@2x.png');
	background-image: url('https://swellnet.com/assets/img/layout/mega-menu-reports-bg@2x.png');
}
