{% assign settings = site.data.settings %}
{% assign logo = page.logo | default: "/assets/img/content/swellnet-logo--dark.svg" %}

<!-- HEADER TOP -->
<div class="global-header-top">
    <div class="container">

        <!-- DESKTOP -->
        <a class="hidden-sm-down" href="/pro/subscribe/chooseplan">Premium ad-free surfcams, dawn surf reports, forecaster notes, long range surf forecasts... <strong>Get Swellnet PRO for $8.95 per month</strong></a>

        <!-- MOBILE (SHORTER) -->
        <a class="hidden-md-up" href="/pro/subscribe/chooseplan">Premium ad-free surfcams, dawn surf reports, and more... <strong>Get Swellnet PRO for $8.95 per month</strong></a>
    </div>
</div>

<!-- HEADER BODY -->
<div class="global-header-body">
    <div class="container">

        <!-- LOGO -->
        <a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
            <img src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
        </a>

        <!-- NAVIGATION -->
        <nav class="global-navigation hidden-lg-down">
            <div class="lv-nav">
                {% include components/navigation/nav.html %}
            </div>
        </nav>

        <!-- HAMBURGER -->
        <div class="global-header-hamburger">
            <div class="lv-hamburger" data-menu-toggle>
                <span class="lv-hamburger-top"></span>
                <span class="lv-hamburger-middle"></span>
                <span class="lv-hamburger-bottom"></span>
            </div>
        </div>

    </div>
</div>

<!-- HEADER BOTTOM -->
<div class="global-header-bottom hidden-lg-down">
    <div class="global-header-bottom-strip"></div>
</div>