---
layout: base__page
---

{% assign settings = site.data.settings %}

<!-- BLOG POSTS -->
<section class="section">
    <div class="container">
        <div class="row">
            {% for item in site.data.lorem_ipsum limit: 6 %}
                <div class="col-md-6 col-lg-4 mb-5">
                    {% include components/cards/card.html flat=true %}
                </div>
            {% endfor %}
        </div>

        {% include components/navigation/pagination.html %}
    </div>
</section>


