---
layout: base__page_sidebar
---

{{ content }}

{% contentfor sidebar %}
    {% include legacy/nearest_surfcams.html %}
    {% include legacy/latest_comments.html %}
    {% include legacy/in_the_forums.html %}
{% endcontentfor %}

<!-- FORM -->
{% include components/form_basic.html %}

<!-- WAVE OF THE DAY - VIEW (LEGACY) -->
<div class="view view-latest-wave-of-the-day view-id-latest_wave_of_the_day view-display-id-panel_pane_wotd view-dom-id-23a80b1632e3d932819051c6044a31b6">
    <div class="view-content">
        <div>
            <div class="ds-1col node node-wave-of-the-day node-promoted node-teaser node-wave_of_the_day-teaser view-mode-teaser clearfix">
                <div class="field field-name-field-wotd-photo field-type-file field-label-hidden">
                    <div class="ds-1col file file-image file-image-jpeg view-mode-wotd_postcard clearfix">
                        <img class="img-responsive" src="http://www.swellnet.com/sites/default/files/styles/swellnet_large_wm_630x443/public/wave-of-the-day/img_e24.jpg?itok=CSWAjRcy" width="750" height="527" alt="">
                    </div>
                </div>
                <div class="field field-name-field-wotd-photographer field-type-taxonomy-term-reference field-label-hidden">
                    Steve Arklay
                </div>
                <div class="field field-name-field-wotd-caption field-type-text field-label-inline clearfix">
                    <span class="field-label">Wave of the Day:</span>
                    <span class="field-item">Craig's List longer sentence goes here, longere sentensdf asdf asdfkjsd sdfsdf</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ARTICLES 4x -->
<section class="section p-0 mb-4">
    <div class="container">

        <!-- BADGE -->
        <a href="#">
            <small class="mb-4 badge badge-secondary text-uppercase">Editors Picks</small>
        </a>

        <div class="row">
            {% for item in site.data.lorem_ipsum limit: 4 %}
                <div class="col-6 col-xl-3">

                    <!-- IMAGE -->
                    <p>
                        <a href="{{ item.url }}">
                            <img width="100%" src="http://placehold.it/230x146" alt="...">
                        </a>
                    </p>

                    <!-- HEADING -->
                    <h6 class="mb-1">
                        <a class="text-muted" href="{{ item.url }}">
                            <strong>{{ item.title }}</strong>
                        </a>
                    </h6>

                    <!-- CATEGORY -->
                    <p><a href="#">Swellnet Dispatch</a></p>

                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class="mb-0">

{% for i in (1..3) %}

    <!-- DRUPAL ARTICLE LIST ITEM -->
    <article class="drupal-article-list-item">

        <!-- CATEGORY -->
        <div class="field field-name-field-article-site-category field-type-taxonomy-term-reference field-label-hidden">
            <a href="/news/swellnet-dispatch">Swellnet Dispatch</a>
        </div>

        <div class="row">
            <div class="col-md-8 col-xl-8 pr-lg-4">

                <!-- HEADING -->
                <h2>
                    <a href="/news/swellnet-dispatch/2018/07/30/watch-timmy-nias-apologises-his-boat">
                        Watch: Timmy from Nias apologises for his boat
                    </a>
                </h2>

                <!-- AUTHOR -->
                <div class="field field-name-author field-type-ds field-label-hidden">
                    <a href="/members/stunet" title="View user profile." class="username">Stu Nettle</a>
                </div>

                <!-- DATE + COMMENT COUNT -->
                <div class="field field-name-post-date field-type-ds field-label-hidden">
                    Monday, 30 July 2018<span class="views-field-comment-count"><span class="field-content">5</span></span>
                </div>

                <!-- BODY -->
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <p>The captain of the good ship Nias has a message!</p>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">

                <p></p>

                <!-- IMAGE -->
                <div class="field field-name-field-article-feature-image field-type-file field-label-hidden">
                    <div class="ds-1col file file-image file-image-jpeg view-mode-article_teaser_postcard clearfix">
                        <a href="/news/swellnet-dispatch/2018/07/30/watch-timmy-nias-apologises-his-boat">
                            <img class="img-responsive" src="http://www.swellnet.com/sites/default/files/styles/swellnet_thumbnail_260x165/public/articles/feature/1_1259.jpg?itok=GrUitFLu" width="360" height="228" alt="">
                        </a>
                    </div>
                </div>

                <p></p>

            </div>
        </div>
    </article>

    {% if i == 1 %}
    <!-- <div class="node-wave-of-the-day-container"> -->

        <!-- WAVE OF THE DAY - NODE (LEGACY) -->
        <div class="ds-1col node node-wave-of-the-day node-promoted node-teaser node-wave_of_the_day-teaser view-mode-teaser clearfix">
            <div class="field field-name-field-wotd-photo field-type-file field-label-hidden">
                <div class="ds-1col file file-image file-image-jpeg view-mode-wotd_postcard clearfix">
                    <img class="img-responsive" src="http://www.swellnet.com/sites/default/files/styles/swellnet_large_wm_630x443/public/wave-of-the-day/img_e24.jpg?itok=CSWAjRcy" width="750" height="527" alt="">
                </div>
            </div>
            <div class="field field-name-field-wotd-photographer field-type-taxonomy-term-reference field-label-hidden">Peter Jovic</div>
            <div class="field field-name-field-wotd-caption field-type-text field-label-inline clearfix">
                <span class="field-label">Wave of the Day:&nbsp;</span>
                <span class="field-item">Duke Nagtzaam swinging from the trees</span>
            </div>
        </div>

        <!-- WAVE OF THE DAY - NODE (LEGACY) -->
        <div class="ds-1col node node-wave-of-the-day node-promoted node-teaser node-wave_of_the_day-teaser view-mode-teaser clearfix">
            <div class="field field-name-field-wotd-photo field-type-file field-label-hidden">
                <div class="ds-1col file file-image file-image-jpeg view-mode-wotd_postcard clearfix">
                    <img class="img-responsive" src="http://www.swellnet.com/sites/default/files/styles/swellnet_large_wm_630x443/public/wave-of-the-day/img_e24.jpg?itok=CSWAjRcy" width="750" height="527" alt="">
                </div>
            </div>
            <div class="field field-name-field-wotd-photographer field-type-taxonomy-term-reference field-label-hidden">Peter Jovic</div>
            <div class="field field-name-field-wotd-caption field-type-text field-label-inline clearfix">
                <span class="field-label">Wave of the Day:&nbsp;</span>
                <span class="field-item">Duke Nagtzaam swinging from the trees</span>
            </div>
        </div>

    <!-- </div> -->
    {% endif %}

{% endfor %}

{% comment %}
    <!-- ARTICLES -->
    <section class="section">
    	<div class="container">
    		{% include components/media/media_article.html %}
    	</div>
    </section>
{% endcomment %}

<div class="spacer mb-4"></div>

<!-- LOAD MORE BUTTON (DRUPAL) -->
<ul class="pager pager-load-more">
    <li class="pager-next">
        <a href="/welcome?page=1">Load more</a>
    </li>
</ul>

{% comment %}
<!-- LOAD MORE BUTTON -->
<div class="text-center">
	<button class="btn btn-outline-primary">
		<span class="text">Load more</span>
		<i class="fa fa-refresh fa-spin ml-2" hidden></i>
	</button>
</div>
{% endcomment %}

<div class="spacer mb-4"></div>