---
layout: base__page
---

{% capture code %}
    <!-- VUE MULTICAM -->
    <div id="vue-app" class="mb-4 collapse-sm-down">
        <multicam-widget
            v-cloak
            class="vue-multicam"
            :paywall-enabled="false"
            inline-template
        >
            <div>

                <!-- PREMIUM -->
                <div
                    v-if="paywallActive"
                    class="vue-multicam-premium">

                    <div class="vue-multicam-premium-outer">
                        <div class="vue-multicam-premium-inner">
                            <h3>This is a premium feature for Swellnet Pro subscribers</h3>
                            <p>Become a subscriber and receive access to detailed surf forecaster notes, dawn surf reports, premium surfcams and replays, add-free surfcams and 16 day surf forecasts.</p>
                            <a href="#PRO-LINK-HERE" class="vue-multicam-premium-btn">Get Swellnet Pro <i class="fa fa-angle-right"></i></a>
                            <p class="premium-message-login-link">
                                <a href="#LOGIN-HERE">Already a subscriber? Login here&nbsp;<i class="fa fa-angle-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- SURFCAMS -->
                <ul class="block-grid-xs-1 block-grid-md-2 block-grid-condensed-more">
                    <li><multicam multicam-id="1" surfcam-id="484779" :options="{ watermark: true }" poster="/assets/img/layout/multi-cam-1.jpg" :paywall-enabled="paywallEnabled"/></li>
                    <li><multicam multicam-id="2" surfcam-id="" poster="/assets/img/layout/multi-cam-2.jpg" :paywall-enabled="paywallEnabled"/></li>
                    <li><multicam multicam-id="3" surfcam-id="" poster="/assets/img/layout/multi-cam-3.jpg" :paywall-enabled="paywallEnabled"/></li>
                    <li><multicam multicam-id="4" surfcam-id="" poster="/assets/img/layout/multi-cam-4.jpg" :paywall-enabled="paywallEnabled"/></li>
                </ul>

            </div>
        </multicam-widget>
    </div>
{% endcapture %}

{{ code }}

{% comment %}
<br>

<!-- COPY CODE - 826, 826, 816 |     841, 250746 -->
<div class="highlighter-rouge">
    <div class="highlight">
        <pre class="highlight">
            <code>{{- code | xml_escape -}}</code>
        </pre>
    </div>
</div>
{% endcomment %}