---
layout: base__page_sidebar
---

{% comment %}
    NOTES
    - https://github.com/flowplayer/flowplayer-hlsjs/issues/57
    - https://stackoverflow.com/questions/4950115/removeeventlistener-on-anonymous-functions-in-javascript
    - stream is redudant on attrs - only playlist works
    - FlowPlayer is for PUBLIC
    - Plyr is for PAID
{% endcomment %}

{% assign live_path = page.live_path %}
{% assign live_stream = page.live_stream %}
{% assign live_stream_image = page.live_stream_image %}
{% assign live_stream_playlist = page.live_stream_playlist %}

{% assign replays_path = page.replays_path %}
{% assign replays_available = replays_path | default: false %}
{% assign replays_surfcam_id = page.replays_surfcam_id %}

<!-- TOP CONTENTS WRAPPER -->
<div id="top-contents-wrapper">

    <!-- LIVE + REPLAYS TABS -->
    <div class="btn-tabs collapse-sm-down">

        <!-- FAVORITE BTN -->
        <span class="flag-wrapper flag-favourite-surfcam">
            <a href="#" class="flag flag-action flag-link-normal" rel="nofollow">
                <span class="hidden-xs-down">Set as favourite</span>
                <span class="hidden-sm-up">Set favourite</span>
            </a>
            <span class="flag-throbber">&nbsp;</span>
        </span>

        {% if replays_available %}

            <!-- REPLAYS TAB -->
            <a class="btn-tab" href="{{ replays_path }}">
                Replays
            </a>

        {% endif %}

        <!-- LIVE TAB -->
        <a class="btn-tab active" href="{{ live_path }}">
            Live
        </a>

    </div>

    <!-- PREMIUM *FEATURE* OVERLAY (SHOW FOR UNPAID) -->
    <div
        id="video-player-overlay-premium-feature"
        class="video-player-overlay video-player-overlay-premium collapse-sm-down mb-4"
        hidden
    >
        <!-- THEATRE MODE EXIT -->
        <!-- <button class="flow-btn-shrink hidden-md-down" type="button">
            <small><b><span class="text">SHRINK</span></b></small>&nbsp;
            <i class="fa fa-compress fa-rotate-45"></i>
        </button> -->

        <!-- INNER-->
        <div class="video-player-overlay-inner">

            <!-- LOGO -->
            <img class="logo mb-2" src="/assets/img/content/swellnet-logomark--white.svg" alt="Swellnet Logo">

            <!-- HEADING -->
            <h3>
                This is a premium feature for Swellnet Pro subscribers
                <a class="badge badge-primary" href="/news/swellnet-dispatch/2018/06/26/walled-and-rise">WHY?</a>
            </h3>

            <!-- BODY -->
            <p class="mb-md-3">
                Become a subscriber and receive access to premium surfcams and replays, ad-free surfcams, detailed surf forecaster notes, dawn surf reports and 16 day surf forecasts.
            </p>

            <!-- ALREADY A SUBSCRIBER? -->
            <p class="mb-md-4">
                <a class="text-link" href="/user/login?destination=/surfcams/kingscliff">
                    Already a subscriber? Log-in here <i class="fa fa-angle-right"></i>
                </a>
            </p>

            <!-- GET SWELLNET PRO -->
            <a class="btn btn-md-lg btn-secondary" href="/pro/subscribe/chooseplan">Get Swellnet Pro&nbsp;<i class="fa fa-angle-right"></i></a>

        </div>
    </div>

    {% if page.user_type == 'public' and page.premium %}

        <!-- PREMIUM OVERLAY (SHOW FOR UNPAID) -->
        <div id="video-player-overlay-premium" class="video-player-overlay video-player-overlay-premium collapse-sm-down mb-4">

            <!-- INNER-->
            <div class="video-player-overlay-inner">

                <!-- LOGO -->
                <img class="logo mb-2" src="/assets/img/content/swellnet-logomark--white.svg" alt="Swellnet Logo">

                <!-- HEADING -->
                <h3>
                    This is a premium surfcam for Swellnet Pro subscribers
                    <a class="badge badge-primary" href="/news/swellnet-dispatch/2018/06/26/walled-and-rise">WHY?</a>
                </h3>

                <!-- BODY -->
                <p class="mb-md-3">
                    Subscribe to Swellnet Pro to access premium surfcams, remove ads and extend the timeout.
                </p>

                <!-- ALREADY A SUBSCRIBER? -->
                <p class="mb-md-4">
                    <a class="text-link" href="/user/login?destination=/surfcams/kingscliff">
                        Already a subscriber? Log-in here <i class="fa fa-angle-right"></i>
                    </a>
                </p>

                <!-- GET SWELLNET PRO -->
                <a class="btn btn-md-lg btn-secondary" href="/pro/subscribe/chooseplan">Get Swellnet Pro&nbsp;<i class="fa fa-angle-right"></i></a>

            </div>
        </div>

        <!-- SPONSOR OVERLAY (OPTIONAL) -->
        <div id="video-player-overlay-sponsor" class="video-player-overlay-sponsor is-jeep is-premium-attached collapse-sm-down animated fadeIn">
            <img src="/assets/img/layout/jeep-surfcam-dashboard-2019.png" alt="Jeep Dashboard">
        </div>

        <!-- SPACER -->
        <div class="spacer mb-4"></div>

    {% endif %}

</div> <!-- /.top-contents-wrapper -->

{% if page.user_type == 'public' %}

    <!-- TIMEOUT OVERLAY (HIDDEN) -->
    <div id="video-player-overlay-timeout" class="video-player-overlay video-player-overlay-timeout collapse-sm-down" hidden>

        <!-- INNER -->
        <div class="video-player-overlay-inner">

            <!-- LOGO -->
            <img class="logo mb-2" src="/assets/img/content/swellnet-logomark--white.svg" alt="Swellnet Logo">

            <!-- HEADING -->
            <h3>Click to reload and continue watching</h3>

            <!-- BODY -->
            <p class="mb-md-3">
                Subscribe to Swellnet Pro to access premium surfcams, remove ads and extend the timeout.
            </p>

            <!-- ALREADY A SUBSCRIBER? -->
            <p class="mb-md-4">
                <a class="text-link" href="https://www.swellnet.com/user/login">
                    Already a subscriber? Log-in here <i class="fa fa-angle-right"></i>
                </a>
            </p>

            <!-- GET SWELLNET PRO -->
            <a class="btn btn-md-lg btn-secondary" href="/pro/subscribe/chooseplan">Get Swellnet Pro&nbsp;<i class="fa fa-angle-right"></i></a>

        </div>
    </div>

{% endif %}

{% if page.user_type == 'public' and page.premium != true %}

    <!-- START VUE APP -->
    <div id="vue-app" class="mb-4">

        <!-- SURFCAM WIDGET -->
        <surfcam-widget
            inline-template
            live-stream="{{ live_stream }}"
            live-stream-image="{{ live_stream_image }}"
            live-stream-playlist="{{ live_stream_playlist }}"

            {% if replays_available %}
                data-path="https://www.swellnet.com/surfcam-replays/data/"
                surfcam-id="{{ replays_surfcam_id }}"
            {% endif %}
        >
            <div>

                <!-- SURFCAM PLAYER HOLDER -->
                <div id="surfcam-player-holder">

                    <!-- SURFCAM PLAYER (VIDEO-JS) -->
                    <surfcam-player-video-js
                        :options="{
                            ads: {
                                enabled: true,
                                cooldown: 6*1000,
                                debug: false,
                                midrolls: 2,
                                tagUrl: 'https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=',
                                timeout: true
                            },
                            autoplay: true,
                            inactivityTimeout: 4*1000,
                            muted: true,
                            pauseTimeout: 5*60*1000,
                            watermark: true,
                            watermarkPosition: 'tr'
                        }"
                    >
                    </surfcam-player-video-js>

                </div>

            </div>
        </surfcam-widget>

    </div> <!-- /.vue-app -->

{% endif %}

{% if page.user_type == 'paid' %}

    <!-- START VUE APP -->
    <div id="vue-app" class="mb-4">

        <!-- SURFCAM WIDGET -->
        <surfcam-widget
            inline-template
            live-stream="{{ live_stream }}"
            live-stream-image="{{ live_stream_image }}"
            live-stream-playlist="{{ live_stream_playlist }}"

            {% if replays_available %}
                data-path="https://www.swellnet.com/surfcam-replays/data/"
                surfcam-id="{{ replays_surfcam_id }}"
            {% endif %}
        >
            <div>

                <!-- SURFCAM PLAYER HOLDER -->
                <div id="surfcam-player-holder">

                    <!-- SURFCAM PLAYER (VIDEO-JS) -->
                    <surfcam-player-video-js
                        :options="{
                            ads: {
                                enabled: false,
                            },
                            autoplay: true,
                            inactivityTimeout: 4*1000,
                            muted: true,
                            pauseTimeout: 5*60*1000,
                            watermark: true,
                            watermarkPosition: 'tr'
                        }"
                    >
                    </surfcam-player-video-js>

                </div>

                <!-- *NEW* EXPAND FEATURE (REMOVE WHEN UNECESSARY) -->
                <div class="new-expand-feature hidden-md-down">
                    <img class="" src="/assets/img/content/new-expand.png" alt="New Expand Feature" />
                </div>

                {% if replays_available %}

                    <!-- HEADING: SURFCAM REPLAYS -->
                    <h2 class="d-flex align-items-center my-4">
                        <i class="fa fa-rotate-left mr-2"></i> Surfcam Replays
                    </h2>

                    <!-- SELECTS WRAPPER -->
                    <div
                        v-if="!replaysDisabled"
                        class="custom-select-wrapper collapse-sm-down"
                    >
                        <!-- DATE-SELECT COMPONENT -->
                        <date-select
                            v-model="date"
                            :is-loading="feedLoading"
                        >
                        </date-select>

                        <!-- TIME-SELECT COMPONENT -->
                        <time-select
                            v-model="selectedTimeIndex"
                            :feed="feed"
                            :index="selectedTimeIndex"
                            :is-loading="feedLoading"
                        >
                        </time-select>

                    </div>

                    <!-- THUMB-SLIDER COMPONENT -->
                    <transition name="special-thumb-slider-entrance">
                        <thumb-slider
                            v-if="feed"
                            :current-index="selectedTimeIndex"
                            :feed="feed"
                            :is-loading="feedLoading"
                        >
                        </thumb-slider>
                    </transition>

               {% endif %}

            </div>
        </surfcam-widget>

    </div> <!-- /.vue-app -->

{% endif %}

{% if page.user_type == 'public' and page.premium != true and replays_available %}

    <!-- START VUE APP -->
    <div id="vue-app" class="mb-4">

        <!-- SURFCAM WIDGET -->
        <surfcam-widget
            live-stream="true"
            data-path="https://www.swellnet.com/surfcam-replays/data/"
            surfcam-id="{{ replays_surfcam_id }}"
            inline-template
        >
            <div>

                <!-- HEADING: SURFCAM REPLAYS -->
                <h2 class="d-flex align-items-center mb-4 mt-4">
                    <i class="fa fa-rotate-left mr-2"></i> Surfcam Replays
                </h2>

                <!-- SELECTS WRAPPER -->
                <div
                    v-if="!replaysDisabled"
                    class="custom-select-wrapper collapse-sm-down"
                >
                    <!-- DATE-SELECT COMPONENT -->
                    <date-select
                        v-model="date"
                        :is-loading="feedLoading"
                    >
                    </date-select>

                    <!-- TIME-SELECT COMPONENT -->
                    <time-select
                        v-model="selectedTimeIndex"
                        :feed="feed"
                        :index="selectedTimeIndex"
                        :is-loading="feedLoading"
                    >
                    </time-select>

                </div>

                <!-- THUMB-SLIDER COMPONENT -->
                <transition name="special-thumb-slider-entrance">
                    <thumb-slider
                        v-if="feed"
                        :current-index="selectedTimeIndex"
                        :feed="feed"
                        :is-loading="feedLoading"
                    >
                    </thumb-slider>
                </transition>

            </div>
        </surfcam-widget>

    </div> <!-- /.vue-app -->

{% endif %}

{% contentfor sidebar %}
    {% include legacy/nearest_surfcams.html %}
    {% include legacy/latest_comments.html %}
{% endcontentfor %}