---
layout: base__page_sidebar
---

{% comment %}
    NOTES
    - vue inline-templates: https://vuejsdevelopers.com/2017/03/24/vue-js-component-templates/
    - stream is redudant on attrs - only playlist works
    - no longer working: data-path="http://staging.swellnet.com.fe2.stg.swellnet.anchor.net.au/surfcam-replays/data/"
    - videoTimeout is in seconds (NOT milliseconds)

{% endcomment %}

<div id="vue-app" class="mb-4">

    {% capture live_stream %}
        {% unless page.url contains 'replays' %}
            live-stream="rtmp://streamer.swellnet.com.au/surfcams/byron.stream"
            live-stream-image="http://static.swellnet.com.au/images/surfcams/snapper-rocks.jpg"
            live-stream-playlist="https://streamer.swellnet.com.au/surfcams/snapper-rocks.stream/playlist.m3u8"
        {% endunless %}
    {% endcapture %}

    <!-- SURFCAM WIDGET -->
    <surfcam-widget
        data-path="https://www.swellnet.com/surfcam-replays/data/"
        {{ live_stream }}
        surfcam-id="10"
        inline-template
    >
        <div>
            <!-- LIVE + REPLAYS TABS -->
            <div class="btn-tabs collapse-sm-down">

                <!-- FAVORITE BTN -->
                <span class="flag-wrapper flag-favourite-surfcam">
                    <a href="#" class="flag flag-action flag-link-normal" rel="nofollow">
                        <span class="hidden-xs-down">Set as favourite</span>
                        <span class="hidden-sm-up">Set favourite</span>
                    </a>
                    <span class="flag-throbber">&nbsp;</span>
                </span>

                <!-- REPLAYS TAB -->
                <a
                    v-if="!replaysDisabled"
                    :class="{active: feedType == 'replay'}"
                    class="btn-tab"
                    href="/surfcams/snapper-rocks/replays/"
                >
                    Replays
                </a>

                <!-- LIVE TAB -->
                <a
                    :class="{active: feedType == 'live'}"
                    class="btn-tab"
                    href="/surfcams/snapper-rocks/"
                >
                    Live
                </a>

            </div>

            {% if page.url contains 'replays' or page.url == '/' %}
                <!-- WRAPPER: SELECTS -->
                <div
                    v-if="!replaysDisabled"
                    class="custom-select-wrapper collapse-sm-down"
                >
                    <!-- DATE-SELECT COMPONENT -->
                    <date-select
                        v-model="date"
                        :is-loading="feedLoading">
                    </date-select>

                    <!-- TIME-SELECT COMPONENT -->
                    <time-select
                        v-model="selectedTimeIndex"
                        :feed="feed"
                        :index="selectedTimeIndex"
                        :is-loading="feedLoading">
                    </time-select>

                </div>
            {% endif %}

            <!-- PLAYER COMPONENT -->
            <!-- <surfcam-player-jw :muted="true" :video-timeout="10"></surfcam-player-jw> -->

            <surfcam-player-plyr
                :muted="true"
                :video-timeout="30"
                :paid="true"
            >
            </surfcam-player-plyr>

            {% comment %}
            on widget: class="jeep-dashboard"
            <!-- JEEP OVERLAY (UNPAID / PUBLIC) -->
            <div class="video-jeep-overlay">
                <img class="image" src="/assets/img/layout/jeep-surfcam-dashboard.png" alt="Jeep Dashboard">
            </div>
            {% endcomment %}

            {% unless page.url contains 'replays' or page.url == '/' %}

                <!-- HEADING: SURFCAM REPLAYS -->
                <h2
                    v-if="!replaysDisabled"
                    class="d-flex align-items-center mb-4 mt-5"
                >
                    <i class="fa fa-rotate-left mr-2"></i> Surfcam Replays
                </h2>

                <!-- WRAPPER: SELECTS (REPEATED) -->
                <div
                    v-if="!replaysDisabled"
                    class="custom-select-wrapper collapse-sm-down mt-0"
                >
                    <!-- DATE-SELECT COMPONENT -->
                    <date-select
                        v-model="date"
                        :is-loading="feedLoading">
                    </date-select>

                    <!-- TIME-SELECT COMPONENT -->
                    <time-select
                        v-model="selectedTimeIndex"
                        :feed="feed"
                        :index="selectedTimeIndex"
                        :is-loading="feedLoading">
                    </time-select>

                </div>
            {% endunless %}

            <!-- THUMB-SLIDER COMPONENT -->
            <transition name="special-thumb-slider-entrance">
                <thumb-slider
                    v-if="feed"
                    :current-index="selectedTimeIndex"
                    :feed="feed"
                    :is-loading="feedLoading">
                </thumb-slider>
            </transition>

        </div>
    </surfcam-widget>

</div> <!-- /.vue-app -->

{% contentfor sidebar %}
    {% include legacy/nearest_surfcams.html %}
    {% include legacy/latest_comments.html %}
{% endcontentfor %}

{% comment %}
    {% unless page.user_type == 'paid' %}
        {% include components/ads.html type=2 %}
    {% endunless %}
{% endcomment %}