---
layout: base__page_sidebar
---

{% comment %}
    INFO
    - inline-template: https://vuejsdevelopers.com/2017/03/24/vue-js-component-templates/
    - stream is redudant on attrs - only playlist works
{% endcomment %}

<div id="vue-app" class="mb-4">

    {% capture live_stream %}
        {% unless page.url contains 'replays' %}
            live-stream="rtmp://streamer.swellnet.com.au/surfcams/cabarita.stream"
            live-stream-image="http://static.swellnet.com.au/images/surfcams/cabarita.jpg"
            live-stream-playlist="https://streamer.swellnet.com.au/surfcams/cabarita.stream/playlist.m3u8"
        {% endunless %}
    {% endcapture %}

    <!-- SURFCAM WIDGET -->
    <surfcam-widget
        class="jeep-dashboardX"
        {{ live_stream }}
        data-path="http://staging.swellnet.com.fe2.stg.swellnet.anchor.net.au/surfcam-replays/data/"
        surfcam-id="29"
        inline-template>

        <div>

            <!-- LIVE / REPLAYS TABS -->
            <div class="btn-tabs collapse-sm-down">

                <!-- FAVORITE -->
                <span class="flag-wrapper flag-favourite-surfcam">
                    <a href="#" class="flag flag-action flag-link-normal" rel="nofollow">
                        <span class="hidden-xs-down">Set as favourite</span>
                        <span class="hidden-sm-up">Set favourite</span>
                    </a>
                    <span class="flag-throbber">&nbsp;</span>
                </span>

                <a v-if="!replaysDisabled" class="btn-tab" :class="{active: feedType == 'replay'}" href="/surfcams/knights/replays/">Replays</a>
                <a class="btn-tab" :class="{active: feedType == 'live'}" href="/surfcams/knights/">Live</a>
            </div>

            {% if page.url contains 'replays' or page.url == '/' %}
                <!-- WRAPPER -->
                <div v-if="!replaysDisabled" class="custom-select-wrapper collapse-sm-down">

                    <!-- DATE-SELECT COMPONENT -->
                    <date-select :is-loading="feedLoading" v-model="date"></date-select>

                    <!-- TIME-SELECT COMPONENT -->
                    <time-select :is-loading="feedLoading" v-model="selectedTimeIndex" :index="selectedTimeIndex" :feed="feed"></time-select>

                </div>
            {% endif %}

            <!-- PLAYER COMPONENT -->
            <surfcam-player-plyr video-timeout="300"></surfcam-player-plyr>
            <!-- <surfcam-player-jw video-timeout="300"></surfcam-player-jw> -->

            {% comment %}
            <!-- TESTING -->
            <!-- <video autoplay="autoplay" crossorigin="anonymous" muted="muted" playsinline="" poster="http://static.swellnet.com.au/images/surfcams/cabarita.jpg"  src="https://streamer.swellnet.com.au/surfcams/cabarita.stream/playlist.m3u8" width="100%"></video> -->
            {% endcomment %}

            <!-- JEEP OVERLAY (UNPAID / PUBLIC) -->
            <div class="video-jeep-overlay">
                <img class="image" src="/assets/img/layout/jeep-surfcam-dashboard.png" alt="Jeep Dashboard">
            </div>

            {% unless page.url contains 'replays' or page.url == '/' %}

                <!-- SURFCAM REPLAYS -->
                <h2 v-if="!replaysDisabled" class="d-flex align-items-center mb-4 mt-5">
                    <i class="fa fa-rotate-left mr-2"></i> Surfcam Replays
                </h2>

                <!-- WRAPPER -->
                <div v-if="!replaysDisabled" class="custom-select-wrapper collapse-sm-down mt-0">

                    <!-- DATE-SELECT COMPONENT -->
                    <date-select :is-loading="feedLoading" v-model="date"></date-select>

                    <!-- TIME-SELECT COMPONENT -->
                    <time-select :is-loading="feedLoading" v-model="selectedTimeIndex" :index="selectedTimeIndex" :feed="feed"></time-select>

                </div>
            {% endunless %}

            <!-- THUMB-SLIDER COMPONENT -->
            <transition name="special-thumb-slider-entrance">
                <thumb-slider v-if="feed" :is-loading="feedLoading" :feed="feed" :current-index="selectedTimeIndex"></thumb-slider>
            </transition>

        </div>
    </surfcam-widget>

</div> <!-- /.vue-app -->

{% unless page.user_type == 'paid' %}
    <!-- { % include ads.html type=2 %} -->
{% endunless %}

{% contentfor sidebar %}
    {% include legacy/nearest_surfcams.html %}
    {% include legacy/latest_comments.html %}
{% endcontentfor %}