---
layout: base__page
---

<!-- SECTION -->
<section id="block-system-main" class="block block-system block- block-system-main clearfix">
    <div class="row">
        <div class="col-md-7">

            <!-- TRAVELLER BOX -->
            <div class="traveller-box">

                <!-- HEADER -->
                <div class="row align-items-center text-center text-md-left">
                    <div class="col-md-4 mb-4 mb-md-0">

                        <!-- ICON -->
                        <img src="/assets/img/content/swellnet-traveller-globe-icon.png">

                    </div>
                    <div class="col-md-7">

                        <!-- HEADING -->
                        <h1 class="display-3">
                            Swellnet Traveller
                        </h1>

                    </div>
                </div>

                <!-- SPACER -->
                <div class="spacer mb-2 mb-md-4 pb-2"></div>

                {{ content }}

            </div>

        </div>
        <div class="col-md-5">

            <!-- TRAVELLER PRICING -->
            <div class="traveller-pricing">

                <!-- TRAVELLER PRICING CONTENT -->
                <div class="traveller-pricing-content">

                    <!-- HEADING -->
                    <h2>Pricing</h2>

                    <hr>

                    {% include components/form_swellnet_traveller.html %}
                </div>

                <!-- BG FILL -->
                <div class="bg-fill"></div>

            </div>
        </div>
    </div>
</section>