{% assign id = 'subscribe-form' %}
{% assign endpoint = 'http://liquidvisual.net/hotlinking/inspire/form.php' %}

<!-- FORM SUBSCRIBE -->
<div id="{{ id }}" v-cloak>

    <!-- IF SUCCESS -->
    <div
        v-if="success"
        class="mb-2 alert alert-success alert-dismissible fade show"
        role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>Thanks for subscribing!</strong>
    </div>

    <!-- IF FAILURE -->
    <div
        v-if="failures && !success"
        class="mb-2 alert alert-danger alert-dismissible fade show"
        role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>Oops! Please try again.</strong></span>
    </div>

    <form
        v-show="!success"
        name="Subscribe Form"
        class="subscribe-form"
        novalidate
        @submit.prevent="validateBeforeSubmit">

        <div class="form-group d-block has-icon mb-3">
            <i class="fa fa-envelope"></i>

            <div class="input-group">

                <input
                    name="email"
                    type="email"
                    class="form-control"
                    :class="{'is-invalid': errors.has('email') && fields.email.touched }"
                    v-model="form.email"
                    v-validate="'required|email'"
                    placeholder="Email Address"
                    required>

                <div class="input-group-append">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        :disabled="errors.any() || !isComplete || processing">
                            <div v-show="processing" class="mx-2 spinner-border text-primary">Loading...</div>
                            <span v-show="!processing" class="text">Submit</span>
                    </button>
                </div>
            </div>
            <small
                v-show="errors.has('email') && fields.email.touched"
                class="error shake animated">
                    <i class="fa fa-warning"></i>&nbsp;<span v-text="errors.first('email')"></span>
            </small>
        </div>
    </form>
</div>

<style>
    .subscribe-form .btn[disabled="disabled"] {
        opacity: 1;
        cursor: not-allowed;
    }
</style>

<script>
    //-----------------------------------------------------------------
    // This code is resused from /contact - could use refactoring to
    // avoid duplication.
    //-----------------------------------------------------------------

    Vue.use(VeeValidate, {
        events: 'input' // 'change' or 'blur'
    });

    new Vue({
        el: '#{{ id }}', // <---- this needs to match the parent id
        data() {
            return {
                errorText: '',
                processing: false,
                success: false,
                failures: 0,

                form: {
                    // firstName: null, // computed on success
                    // fullName: '',
                    email: '',
                    newsletter: true
                }
            }
        },

        //-----------------------------------------------------------------
        // COMPUTED
        //-----------------------------------------------------------------

        computed: {
            isComplete() { // * required fields - loop through vee-validate objects
                var emptyRequiredFields = 0;
                for (var item in this.fields) {
                    if (this.fields[item].required) {
                        if (this.form[item] == '') emptyRequiredFields++;
                    }
                }
                return !emptyRequiredFields;
            },

            dataString() { // to be send via Axios
                var dataString = '';
                    // dataString += 'firstName='+ this.form.fullName.split(' ')[0] + '&'; // add firstName to form data

                for (var item in this.form) {
                    // if (item != 'firstName') { // firstName is special case
                        dataString += item + '=' + this.form[item] + '&';
                    // }
                }
                return dataString;
            }
        },

        //-----------------------------------------------------------------
        // METHODS
        //-----------------------------------------------------------------

        methods: {
            validateBeforeSubmit() {
                this.processing = true;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.postData();
                    } else {
                        this.failures++; // used for returning with server errors
                        this.success = false;
                        this.processing = false;
                        // flash failures here?
                    }
                });
            },

            //==================================================
            // POST DATA
            //==================================================

            postData() {
                axios({
                    method: 'POST',
                    url: '{{ endpoint }}',
                    data: this.dataString
                })
                .then(response => {
                    this.validateResponse(response.data);
                    this.processing = false;
                })
                .catch(error => {
                    this.processing = false;
                    this.failures++;
                    this.errorText = 'There was an error with the server. Please try again later.';
                    // window.scrollTo(0,0);
                });
            },

            //==================================================
            // VALIDATE RESPONSE
            //==================================================

            validateResponse(data) {
                if (data.success === true) {
                    this.success = true;
                    this.reset(true);
                    // window.scrollTo(0,0);
                }
                else {
                    this.failures++;
                    this.success = false;
                    // window.scrollTo(0,0);

                    for (var error in data.errors) {

                        var field = error.split('.')[1];
                        var messages = data.errors[error]; // array

                        if (field) { // cannot be undefined
                            this.errorText = 'Please check the following errors: <br>';

                            for (var i = 0; i < messages.length; i++) {
                                // don't add these unless:
                                // 1. backend is aware of 'rules'
                                // 2. email etc is validated
                                // this.errors.add(field, messages[i]);
                                // console.log('field: '+messages[i]);
                                this.errorText += messages[i] + '<br>';
                            }
                        }
                    }
                }
            },

            //==================================================
            // RESET (for success or clear)
            //==================================================

            reset(success) {
                // https://github.com/baianat/vee-validate/issues/209
                // Object.assign(this.$data, this.$options.data.call(this));

                // var firstNameTemp = this.form.fullName.split(' ')[0]; // store before wipe

                for (var item in this.form) {
                    this.form[item] = ''; // clear all
                }

                // if (success) this.form.firstName = firstNameTemp.charAt(0).toUpperCase() + firstNameTemp.slice(1); // capitalize
                this.success = success === true; // t/f
                this.$validator.reset();
            }
        }
    })
</script>