<!-- IN THE FORUMS -->
<section class="panel-pane pane-views pane-latest-forum-posts">

    <!-- <h2 class="pane-title">In the Forums</h2> -->
    <h3 class="d-flex mb-4">
        <i class="fa fa-comments pr-3"></i> In the Forums
    </h3>

    <div class="pane-content">
        <div class="view view-latest-forum-posts view-id-latest_forum_posts view-display-id-block view-dom-id-3a1a906b4b4ac42bb913f4e0c2e3918b">
            <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                    <span class="views-field views-field-name">
                        <span class="field-content">Blowin said:</span>
                    </span>
                    <span class="views-field views-field-view-comment">
                        <span class="field-content">
                            <a href="/comment/551272#comment-551272">As long as Australia pursues the current radically high levels of immigration then wages will continue to fall. The rest of the...</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> - 27 min 36 sec ago</span>
                    </span>
                    <span class="views-field views-field-taxonomy-forums">
                        <span class="field-content"><br>
                            <a href="/forums/politico">Politico</a> &gt;
                        </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/forums/politico/307178">What's what?</a>
                        </span>
                    </span>
                </div>
                <div class="views-row views-row-2 views-row-even">
                    <span class="views-field views-field-name">
                        <span class="field-content">Jamyardy said:</span>
                    </span>
                    <span class="views-field views-field-view-comment">
                        <span class="field-content">
                            <a href="/comment/551264#comment-551264">Ha, Abrolhos islands and Abrolhos banks, two different spots in two different oceans.</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> - 1 hour 6 min ago</span>
                    </span>
                    <span class="views-field views-field-taxonomy-forums">
                        <span class="field-content"><br>
                            <a href="/forums/crystal-ball">The Crystal Ball</a> &gt;
                        </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/forums/crystal-ball/317418">Will the Leeuwin current be affected by the el nino?</a>
                        </span>
                    </span>
                </div>
                <div class="views-row views-row-3 views-row-odd">
                    <span class="views-field views-field-name">
                        <span class="field-content">Shatner'sBassoon said:</span>
                    </span>
                    <span class="views-field views-field-view-comment">
                        <span class="field-content">
                            <a href="/comment/551244#comment-551244">Rinse and repeat! Yew!</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> - 2 hours 32 min ago</span>
                    </span>
                    <span class="views-field views-field-taxonomy-forums">
                        <span class="field-content"><br>
                            <a href="/forums/wax">Wax On</a> &gt;
                        </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/forums/wax/11351">Where did you surf today?</a>
                        </span>
                    </span>
                </div>
                <div class="views-row views-row-4 views-row-even">
                    <span class="views-field views-field-name">
                        <span class="field-content">Shatner'sBassoon said:</span>
                    </span>
                    <span class="views-field views-field-view-comment">
                        <span class="field-content">
                            <a href="/comment/551243#comment-551243">Fuck sake! We all know it's this guy: Check round the 59 sec mark for a flash of tit! Now on to more important matters, who's the...</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> - 2 hours 34 min ago</span>
                    </span>
                    <span class="views-field views-field-taxonomy-forums">
                        <span class="field-content">
                            <br>
                            <a href="/forums/wax-0">Wax Off</a> &gt;
                        </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/forums/wax/12901">Tunes</a>
                        </span>
                    </span>
                </div>
                <div class="views-row views-row-5 views-row-odd views-row-last">
                    <span class="views-field views-field-name">
                        <span class="field-content">MonkeyStyle said:</span>
                    </span>
                    <span class="views-field views-field-view-comment">
                        <span class="field-content">
                            <a href="/comment/551239#comment-551239">Better later to comment than never...
                                Mad Wax
                                Apocalypse Now (!)
                                Crystal Voyager
                                Morning of the earth
                                Momentum</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> - 2 hours 53 min ago</span>
                    </span>
                    <span class="views-field views-field-taxonomy-forums">
                        <span class="field-content"><br> <a href="/forums/wax">Wax On</a> &gt;</span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/forums/wax/9906">Best Surf Movie List Ever</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>