<!-- LATEST NEWS -->
<section class="mb-5">
    <h2><i class="fa fa-newspaper-o"></i>&nbsp; Latest News</h2>

    {% for i in (1..3) %}
        <div class="views-row views-row-1 views-row-odd views-row-first">
            <div class="row panel-display teaser-stacked clearfix">
                <div class="panel-panel panel-top col-sm-6">
                    <hr>
                    <div class="field field-name-field-article-site-category field-type-taxonomy-term-reference field-label-hidden">
                        <a href="/news/design-outline">Design Outline</a>
                    </div>
                </div>
                <div class="panel-panel panel-left col-sm-6 col-smmd-3andhalf col-md-4">
                    <h2><a href="/news/design-outline/2017/09/06/clear-resin-green-tinge">Clear resin with a green tinge</a></h2>
                    <div class="field field-name-author field-type-ds field-label-hidden">
                        <span class="username">Stu Nettle</span>
                    </div>
                    <div class="field field-name-post-date field-type-ds field-label-hidden">
                        Wednesday, 6 September 2017
                    </div>
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <p>Eco-X epoxy resin increases&nbsp;the green stakes in board making.</p>
                    </div>
                </div>
                <div class="panel-panel panel-right col-sm-6 col-smmd-2andhalf col-md-2">
                    <div class="field field-name-field-article-feature-image field-type-file field-label-hidden">
                        <div class="ds-1col file file-image file-image-jpeg view-mode-article_teaser_postcard clearfix">
                            <a href="/news/design-outline/2017/09/06/clear-resin-green-tinge">
                                <img class="img-responsive" src="http://www.swellnet.com/sites/default/files/styles/swellnet_thumbnail_260x165/public/articles/feature/d7473e13784a858d013d66d133a3c250-long-board-surf-boards_copy.jpg?itok=3BDYq843" width="360" height="228" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>