<!-- LATEST COMMENTS -->
<section class="panel-pane pane-views pane-latest-comments-concise">

    <!-- <h2 class="pane-title mt-0">Latest Comments</h2> -->
    <h2 class="sidebar-header d-flex mb-4"><i class="fa fa-comments pr-3"></i> Latest Comments</h2>

    <div class="pane-content">
        <div class="view view-latest-comments-concise view-id-latest_comments_concise view-display-id-block_1 view-dom-id-992e49c859c24ac4b52b3479b2fc07b7">
            <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                    <span class="views-field views-field-name">
                        <span class="field-content">udo in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/swellnet-dispatch/2017/09/04/it-just-consumed-me-worlds-first-proven-shark-repellant">"It just consumed me" // The world's first proven shark repellant</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 8 min 58 sec ago</span>
                    </span>
                </div>
                <div class="views-row views-row-2 views-row-even">
                    <span class="views-field views-field-name">
                        <span class="field-content">fong in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/swellnet-dispatch/2017/08/22/webber-wave-pools-begin-work-their-first-wave-pool">Webber Wave Pools begin work on their first wave pool</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 58 min 25 sec ago</span>
                    </span>
                </div>
                <div class="views-row views-row-3 views-row-odd">
                    <span class="views-field views-field-name">
                        <span class="field-content">memlasurf in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/swellnet-dispatch/2017/09/06/dane-reynolds-and-craig-anderson-premium-violence-video">Dane Reynolds and Craig Anderson // Premium Violence - video</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 1 hour 21 min ago</span>
                    </span>
                </div>
                <div class="views-row views-row-4 views-row-even">
                    <span class="views-field views-field-name">
                        <span class="field-content">Nick Bone in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/swellnet-dispatch/2017/09/05/marti-paradisis-purest-form-fun-video">Marti Paradisis // The Purest Form of Fun - video</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 2 hours 10 min ago</span>
                    </span>
                </div>
                <div class="views-row views-row-5 views-row-odd">
                    <span class="views-field views-field-name">
                        <span class="field-content">Clam in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/surfpolitik/2015/01/19/charge-and-stripes-latest-shark-deterring-devices">Charge and stripes: The latest in shark deterring devices</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 2 hours 30 min ago</span>
                    </span>
                </div>
                    <div class="views-row views-row-6 views-row-even">
                        <span class="views-field views-field-name">
                            <span class="field-content">Clam in </span>
                        </span>
                        <span class="views-field views-field-title">
                            <span class="field-content">
                                <a href="/reports/forecaster-notes/sydney-hunter-illawarra/2017/09/04/and-away-stepladder-south-swells-ahead">Up, up and away! Stepladder south swells ahead</a>
                            </span>
                        </span>
                        <span class="views-field views-field-created">
                            <span class="field-content"> 2 hours 48 min ago</span>
                        </span>
                    </div>
                <div class="views-row views-row-7 views-row-odd">
                    <span class="views-field views-field-name">
                        <span class="field-content">Jelly Flater in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/swellnet-dispatch/2017/09/01/going-left-kelly-slater-wave-pool-video">Going left at the Kelly Slater Wave Pool - video</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 2 hours 53 min ago</span>
                    </span>
                </div>
                <div class="views-row views-row-8 views-row-even">
                    <span class="views-field views-field-name">
                        <span class="field-content">thermalben in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/reports/forecaster-notes/south-east-queensland-northern-new-south-wales/2017/09/04/sustained-series">Sustained series of strong south swells coming up</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 4 hours 27 min ago</span>
                    </span>
                </div>
                <div class="views-row views-row-9 views-row-odd">
                    <span class="views-field views-field-name">
                        <span class="field-content">Clam in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/reports/forecaster-notes/victoria/2017/09/04/large-cold-windy-surf">Large cold windy surf</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 12 hours 14 min ago</span>
                    </span>
                </div>
                <div class="views-row views-row-10 views-row-even views-row-last">
                    <span class="views-field views-field-name">
                        <span class="field-content">gillos in </span>
                    </span>
                    <span class="views-field views-field-title">
                        <span class="field-content">
                            <a href="/news/swellnet-dispatch/2017/09/01/colosseum-video">Colosseum - video</a>
                        </span>
                    </span>
                    <span class="views-field views-field-created">
                        <span class="field-content"> 15 hours 21 min ago</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>