/*
    DOCS.CSS

    - updated: 25.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$docs-header-bg: #f2f3f6;

//-----------------------------------------------------------------
// DOCS SECTION
//-----------------------------------------------------------------

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none !important;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.docs {
	.card-table {
		position: relative;
		overflow: hidden;
	}

	table {
		margin: -1px;
		width: calc(100% + 3px);
		height: 10px;
		max-width: none;
		max-height: none;
	}
}

//-----------------------------------------------------------------
// CARD DOCS HEADER
//-----------------------------------------------------------------

.card-docs-header {
	display: flex;
	align-items: center;
	background: #ebebeb; //$docs-header-bg;
	color: darken(#e3e6eb, 30%);
	z-index: 2;

	.text {
		font-size: rem-calc(11);
		font-weight: $font-weight-semibold;
		text-transform: uppercase;
	}

	//=========================================
	// TOOL BUTTONS
	//=========================================

	button {
		display: flex;
		padding: rem-calc(0 15);
		border: 0;
		border-radius: 0;
		background: none;
		height: rem-calc(36);
		font-size: rem-calc(20);
		color: darken(#e3e6eb, 30%);
		cursor: pointer;
		transition: none;

		&:hover {
			// background: darken(#f2f3f6, 5%);
		}

		&.active {
			// background: lighten(#ebebeb, 3%);
			background: white;
			color: darken(#e3e6eb, 40%) !important;
		}
	}

	button.card-docs-header-btn-tool {
		&.active {
			background: none;
			color: #2981cb !important;
		}
	}
}

//-----------------------------------------------------------------
// WIP - SIDEBAR
//-----------------------------------------------------------------

#docs-app .sidebar {

	@include media-breakpoint-up(lg) {
		// position: -webkit-sticky;
	    // position: sticky;
	    // top: rem-calc(70);
	    // bottom: 0;
	    height: calc(100vh - 70px);
	    // overflow-y: auto;

	    &:before {
	    	content: "";
	    	position: absolute;
	    	top: 0;
	    	right: rem-calc(40);
	    	width: 100vw;
	    	height: 100%;
	    	background: $docs-header-bg;
	    	// border-right: 1px solid rgba(black, 0.1);
	    	// background: lighten(#e3e6eb, 4%);
	    }
	}
}

.btn-theme {
	width: rem-calc(28);
	height: rem-calc(28);
	margin: 0 3px;
	font-size: rem-calc(14);
	border: 0; //1px solid darken(#f2f3f6, 10%);
	box-shadow: 0 1px 2px 2px rgba(black, 0.05);
	border-radius: 100%;
	cursor: pointer;
}

//-----------------------------------------------------------------
// CARD DOCS BODY
//-----------------------------------------------------------------

.card-docs-body {
	position: relative; // [LOCKED]
	overflow: hidden; // [LOCKED]
	// border: 2px dashed rgba(black, 0.2);
	// border-top: 0;
	min-height: rem-calc(300);

	// BLOCKK
	.wysiwyg {
		font-family: "BLOKK";
		font-size: rem-calc(13);
		color: darken(#e3e6eb, 6%);
	}
}

//-----------------------------------------------------------------
// CARD DOCS CODE
//-----------------------------------------------------------------

.card-docs-code {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 10; // [LOCKED]
}

//=========================================
// PRETTY PRINT
//=========================================

pre.prettyprint {
	height: 100%;
	width: 100%;
	background-color: white; // force?
	word-wrap: normal;
	tab-size: 4;
}

.prettyprint.line-numbers {
	li.L0, li.L1, li.L2, li.L3, li.L4,
	li.L5, li.L6, li.L7, li.L8, li.L9 {
		list-style-type: decimal;
		padding-left: rem-calc(20);
		background: none;
		color: rgba(black, 0.2);
	}

	ol {
		// background: #f2f3f6;
	}
}


.lv-page pre.prettyprint {
	border: 0;
	font-size: rem-calc(13);
	padding: rem-calc(20);
}

//=========================================
//
//=========================================