/*
    SPECIAL.CSS

    - updated: 23.10.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// VUE CLOAK
//-----------------------------------------------------------------

[v-cloak] {
    visibility: hidden;
}

//-----------------------------------------------------------------
// LITTLE LOADER INDICATOR INSIDE DATE SELECT
//-----------------------------------------------------------------

.special-fade-enter-active,
.special-fade-leave-active {
	transition: opacity 300ms 100ms;
}
.special-fade-enter,
.special-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

//-----------------------------------------------------------------
// THUMB SLIDER ENTRANCE
//-----------------------------------------------------------------

.special-thumb-slider-entrance-enter-active,
.special-thumb-slider-entrance-leave-active {
	transition: visibility 0.5s 1s;
	// transition: transform 0.8s 1s ease;

}
.special-thumb-slider-entrance-enter,
.special-thumb-slider-entrance-leave-to /* .fade-leave-active below version 2.1.8 */ {
	visibility: hidden;
	// transform: translateY(-100%);
}

//-----------------------------------------------------------------
// REMOVE THIS ONCE GRID IS SETUP
//-----------------------------------------------------------------

// .pane-latest-article-comments .pane-title:before,
// .pane-latest-comments-concise .pane-title:before,
// .pane-latest-forum-posts .pane-title:before {
// 	// color: #484848;
// } - keep commented out

// .layout-sixthree.section.panel-right {
// 	@include media-breakpoint-up(md) {
// 	    padding-left: rem-calc(40);
// 	}
// }

//-----------------------------------------------------------------
// ADVERT
//-----------------------------------------------------------------

.iframe-advert {
	border: 1px solid black;
	padding: 0;
	margin: 0;
	width: 760px;
}

//-----------------------------------------------------------------
// SPECIAL NEAREST SURFCAMS
// Jerry-rig Drupal markup
//-----------------------------------------------------------------

.special-nearest-surfcams {
	.thumb-slider-item {

		img {
			visibility: visible;
			max-width: none;
			// transition: opacity 300ms ease;

			@include media-breakpoint-up(md) {
			    width: 100%;
			}
		}

		// Text part
		.field-content:nth-child(2) {

			a {
				display: block;
				max-width: 150px;
				padding: rem-calc(8);
				background: #2f2f2f;
				// font-size: rem-calc(26);
				line-height: 1;
				text-align: center;
				text-decoration: none;
				color: white;

				// ellipsis
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				@include media-breakpoint-up(md) {
				    max-width: none;
				}
			}
		}

		.field-content:nth-child(3) {
			display: none;
		}

		&:hover img {
			@include media-breakpoint-up(lg) {
			    // opacity: 0.85;
			}
		}
	}
}

//-----------------------------------------------------------------
// DRUPAL "SET AS FAV" BUTTON
//-----------------------------------------------------------------

.btn-tabs .flag-wrapper {
	display: none; // [LOCKED] - off by default
	position: relative;
	top: rem-calc(10);

	@include media-breakpoint-down(xs) {
	    left: ($container-gutter/2); // [OVERRIDE] - see global.scss
	}

	a {
		display: inline-block;
		padding: rem-calc(6 8);
		border-radius: 0;
		font-family: $headings-font-family;
		font-size: rem-calc(11);
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
		color: white;
		background: $primary; // NEW

		&.unflag-action {
			background: #9d9d9d; // old code
		}

		&:before {
			content: "\f005";
			font-family: 'FontAwesome';
			margin-right: rem-calc(5);
		}

		&:hover {
			background: lighten($primary, 5%);
		}
	}

	.flag-throbber {
		display: none;
	}
}

//-----------------------------------------------------------------
// HEADINGS MOBILE - phase this out with new typography
//-----------------------------------------------------------------\
//=========================================
// (H1) (PAGE-HEADER WAS TAKEN)
//=========================================

.special-page-header {
    font-size: rem-calc(50) !important;

    @include media-breakpoint-up(md) {
        font-size: rem-calc(57) !important;
    }
}

//=========================================
// SIDEBAR HEADER
//=========================================

// .sidebar-header {
//     font-size: 23px;

//     @include media-breakpoint-up(md) {
//         font-size: 20px;
//     }

//     @include media-breakpoint-up(lg) {
//         font-size: 24px;
//     }
// }

//=========================================
//
//=========================================

h2 .fa,
h3 .fa {
    color: #777777;
    // font-size: rem-calc(42);
}

.badge {
	color: white; // override bootstrap
}

//-----------------------------------------------------------------
// LEGACY - but works
//-----------------------------------------------------------------

.comment-count,
.views-field-comment-count {
	display: inline-block;
	position: relative;
	top: -2px;
	min-width: rem-calc(20);
	background: $primary; //#7ec5c9;
	border-radius: 2px;
	font-size: rem-calc(9);
	font-weight: 700;
	text-align: center;
	line-height: 1.4;
	padding: rem-calc(1 3);
	color: #fff;
	margin-left: rem-calc(10);
}

.comment-count .text:after,
.views-field-comment-count .field-content:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -4.5px;
  margin-bottom: -4px;
  border: 5px solid transparent;
  border-top-color: $primary; //#7ec5c9;
  border-bottom: 0;
  border-left: 0;
}

//-----------------------------------------------------------------
// SIDEBAR ZEBRA STRIPING
//-----------------------------------------------------------------

.pane-views.pane-latest-comments-concise, // too precise?
.pane-views.pane-latest-forum-posts {
	font-size: rem-calc(14);
	margin-bottom: rem-calc(40);

	.views-row {
		padding: rem-calc(10 0);
		// border-top: 1px solid #f1f2f3;
		border-top: 1px solid #f1f2f3;
	}

	.views-row-odd {
		background-color: #fbfcfd;
	}
}

//-----------------------------------------------------------------
// DRUPAL ARTICLE LIST ITEM
//-----------------------------------------------------------------

.drupal-article-list-item {
	padding: $spacer*2 0;
	border-bottom: 1px solid #e8e9e9;

	// .view-latest-wave-of-the-day {
	// 	margin-top: $spacer*1.5;
	// }

	// CATEGORY
	.field-name-field-article-site-category a {
		display: inline-block;
		padding: rem-calc(3 5);
		margin-bottom: $spacer;
		// border-radius: 3px; // requested removal
		font-size: rem-calc(10);
		line-height: 1;
		text-transform: uppercase;
		background: $primary;
		color: white;

		&:hover {
			opacity: 0.8;
		}
	}

	// HEADING
	h2 {
		@extend .h3;
		margin-bottom: $spacer / 1.5;
		a { color: $headings-color; &:hover { color: darken($headings-color, 5%); }}
	}

	// AUTHOR + DATE
	.field-name-author,
	.field-name-post-date {
		font-size: rem-calc(13);
		color: $text-muted;
	}

	// AUTHOR
	.field-name-author {
		float: left;
		display: inline-block;
		margin-right: rem-calc(10);

		&:before {
			content: "By";
		}
	}

	.field-name-post-date {
		margin-bottom: $spacer;
	}

	// <p></p>
	p:empty {
	    display: none;
	}

	// IMAGE
	img {
		width: 100%;
		height: auto;
	}
}

//-----------------------------------------------------------------
// LOAD MORE BUTTON
//-----------------------------------------------------------------

.pager-load-more {
	list-style: none;
	padding: 0; // [RESET]
	margin: 0; // [RESET]
	margin-bottom: $spacer;
	text-align: center;

	.pager-next a {
		@extend .btn;
		@extend .btn-outline-primary;
	}
}

//-----------------------------------------------------------------
// DRUPAL WAVE OF THE DAY
//-----------------------------------------------------------------

// wrap the node-waves if you want bottom border
.node-wave-of-the-day-container {
	.node-wave-of-the-day:last-child {
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			margin-top: $spacer * 1.5;
			background: #e8e9e9;
		}
	}
}

.view-latest-wave-of-the-day,
.node-wave-of-the-day {
	position: relative;
	// margin-bottom: $spacer * 1.5;
	margin-bottom: 1.3rem; // client requested

	.field-name-field-wotd-photographer {
		position: absolute;
		top: 8px;
		right: 10px;
		font-size: rem-calc(15);
		color: white;
		text-transform: uppercase;
		font-weight: 800;
		text-shadow: 1px 1px 1px rgba(black, 0.2);

		&:after {
			display: inline-block;
			content: "\f030";
			font-family: 'FontAwesome';
			margin-left: rem-calc(5);
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	.field-name-field-wotd-caption {
		padding: rem-calc(10 15);
		background: #333;
		color: white;

		@include media-breakpoint-up(md) {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		    background: rgba(black, 0.4);
		}

		.field-label {
			@extend .h4;
			font-size: rem-calc(16); // client requested
			color: white;

			@include media-breakpoint-up(md) {
				margin: 0;
			}
		}
	}
}

//-----------------------------------------------------------------
// TABS
//-----------------------------------------------------------------

.element-invisible {
	display: none;
}

.nav-tabs {
	list-style: none;
	padding: 0; // [RESET]
	margin-bottom: $spacer * 1.5;

	@include media-breakpoint-up(md) {
	    display: flex;
	}

	li:first-child.active a {
		border-left: 1px solid #e8e8e8;
	}

	li:last-child.active a {
		border-right: 1px solid #e8e8e8;
	}

	a {
		display: block;
		padding: rem-calc(7 15); // [LOCKED] - to match dropdowns
		background: #f4f4f4;
		border: 1px solid #e8e8e8;
		margin-top: -1px;

		@include media-breakpoint-up(md) {
		    display: inline-block;
		    margin-right: -1px;
		    font-size: 15px; // per request
		}

		@include media-breakpoint-up(xl) {
		    font-size: rem-calc(16);
		}
	}

	.active a {
		background: white;
		color: $body-color;

		@include media-breakpoint-up(md) {
			border: 0;
			border-top: 1px solid #e8e8e8;
		    margin-left: 1px;
		}
	}
}


