/*
    THEMES.CSS

    - updated: 26.11.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// DEFAULTS
//-----------------------------------------------------------------

.lv-off-canvas .is-user-group {
	display: none;
}

//-----------------------------------------------------------------
// THEME GRANULARITY
//-----------------------------------------------------------------

.theme-hide-my-report .is-user-group .is-my-report,
.theme-hide-my-surfcam .is-user-group .is-my-surfcam,
.theme-hide-create-report .is-user-group .is-create-report,
.theme-hide-create-forecast .is-user-group .is-create-forecast {
	display: none;
}

//-----------------------------------------------------------------
// THEME LOGGED IN
//-----------------------------------------------------------------

.theme-logged-in {

	// USER BTNS
	.lv-nav .is-user-group,
	.lv-off-canvas .is-user-group {
		display: block; // [LOCKED] - show the user menu
	}

	// LOGIN BTN
	.lv-nav .is-login,
	.lv-off-canvas .is-login {
		display: none;
	}

	// FAV BTN (surfcams)
	.btn-tabs .flag-wrapper {
		display: inline-block;
	}

	// FOOTER USER LIST
	.global-footer .is-user-column .list-logged-in {
		display: block;
	}

	// FOOTER USER LIST
	.global-footer .is-user-column .list-logged-out {
		display: none;
	}
}

//-----------------------------------------------------------------
// THEME PAID
// user is premium and paid
//-----------------------------------------------------------------

.theme-paid {

	.global-header-top,
	.global-sponsor {
		display: none; // [LOCKED] - hide the ads
		height: 0; // [LOCKED] - for jQuery headroom calculation
	}
}

// HEADER.SCSS - BELONGS IN THEME - but there for variables
// .theme-paid .lv-page {
// 	padding-top: $header-body-sm-height;

// 	@include media-breakpoint-up(md) {
// 	    padding-top: $header-body-md-height;
// 	}
// }

//=========================================
//
//=========================================