{% comment %}
<!--
    BREADCRUMBS

    updated: 07.05.18
    liquidvisual.com
-->
{% endcomment %}

{% assign crumbs = page.url | split: '/' %}

<!-- BREADCRUMBS -->
<section class="lv-breadcrumb-wrapper {{ include.theme }}">
    <div class="container">
        <nav class="breadcrumb px-0">

            <!-- CRUMBS -->
            {% for crumb in crumbs offset: 1 %}
                {% unless forloop.last %}
                    <a class="breadcrumb-item"
                        href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;
                        <span class="hidden-sm-down">Back to</span> {{ crumb | capitalize | replace:'-',' ' }}
                    </a>
                {% endunless %}
            {% endfor %}

        </nav>
    </div>
</section>