{% assign data = include.data | default: site.data.media_articles %}

{% for item in data %}

	{% capture row_classes %}
		{% if item.reverse_columns %}
			flex-row-reverse
		{% endif %}
	{% endcapture %}

	<!-- MEDIA ARTICLE -->
	<article class="mb-4">

		<!-- BADGE -->
		<small class="mb-3 badge badge-primary text-uppercase">Swellnet Dispatch</small>

		<div class="row {{ row_classes }}">
			<div class="col-md-8 col-xl-8 pr-lg-4">

				<!-- HEADING -->
				<h2 class="h3 mb-2">
					<a class="text-dark" href="#">{{ item.title }}</a>
				</h2>

				<!-- AUTHOR + DATE + COMMENT COUNT -->
				<p class="d-flex align-items-center">
					<small class="text-muted">By <a class="mr-1" href="#">{{ item.author }}</a> {{ item.date }}</small>
					<span class="comment-count"><span class="text">29</span></span>
				</p>

				{{ item.body | markdownify }}

			</div>
			<div class="col-md-4 col-xl-4">
				<p>
					<a href="#">
						<img width="100%" src="{{ item.image }}" alt="{{ item.image_alt }}">
					</a>
				</p>
			</div>
		</div>
	</article>
	<hr class="pb-2">
{% endfor %}